<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Weather Dashboard</h1>
        <p class="lead">A comprehensive report.</p>
    </div>
  </div>

<div class="container" id="button">
    <a href="/conditions/temps"><button type="button" class="btn btn-primary btn-block">Rides by Temperature</button></a>
    <br>
    <a href="/conditions/visability"><button type="button" class="btn btn-primary btn-block">Rides by Visability</button></a>
    <br>
    <a href="/conditions/windspeed"><button type="button" class="btn btn-primary btn-block">Rides by Wind Speed</button></a>

</div>
