<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bike-Share</title>
    <link rel='stylesheet' href='style.css'/>
    <nav>
    <ul id='container'>
      <li>
        <a href='/'>Home</a>
      </li>
      <li>
        <a href='/stations'>Stations</a>
      </li>
      <li>
        <a class="active" href='/conditions'>Weather Conditions</a>
      </li>
      <li>
        <a href='/trips'>Trips</a>
      </li>
      <li style="float:right">
        <h1>San Francisco Bike Share</h1>
      </li>
    </ul>
  </nav>
  </head>
  <body>
    </br></br></br>

    <table>
      <tr>
        <td>
        <h2>Weather Dashboard</h2>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Average number of rides on days with a high temperature</h3>
          <p>(replace me)</p>
      <hr>
          <h3>Highest number of rides on days with a high temperature</h3>
          <p>(replace me)</p>
      <hr>
          <h3>Lowest number of rides on days with a high temperature</h3>
          <p>(replace me)</p>
      <hr>
          <h3>Average number of rides on days with precipitation: </h3>
          <p>(replace me)</p>
      <hr>
          <h3>Highest number of rides on days with precipitation: </h3>
          <p>(replace me)</p>
      <hr>
          <h3>Lowest number of rides on days with precipitation: </h3>
          <p>(replace me)</p>
      <hr>
        <h3>Average number of rides on days with mean wind speeds: </h3>
        <p>(replace me)</p>
      <hr>
        <h3>Highest number of rides on days with mean wind speeds: </h3>
        <p>(replace me)</p>
      <hr>
        <h3>Lowest number of rides on days with mean wind speeds: </h3>
        <p>(replace me)</p>
      <hr>
        <h3>Average number of rides on days with mean visibility: </h3>
        <p>(replace me)</p>
      <hr>
        <h3>Highest number of rides on days with mean visibility: </h3>
        <p>(replace me)</p>
      <hr>
        <h3>Lowest number of rides on days with mean visibility: </h3>
        <p>(replace me)</p>
        </td>
      </tr>
    </table>
    <hr>

  </body>
 </html>
