<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bike-Share</title>
    <link rel='stylesheet' href='style.css'/>
    <nav>
    <ul id='container'>
      <li>
        <a class="active" href='index.html'>Home</a>
      </li>
      <li>
        <a href='/stations'>Stations</a>
      </li>
      <li>
        <a href='/conditions'>Weather Conditions</a>
      </li>
      <li>
        <a href='/trips'>Trips</a>
      </li>
      <li style="float:right">
        <h1>San Francisco Bike Share</h1>
      </li>
    </ul>
  </nav>
  </head>
  <body>
    <h1>Weather Dashboard</h1>
    <hr>

    <h5>Average number of rides on days with a high temperature</h5>
    <p>(replace me)</p>

    <h3>Highest number of rides on days with a high temperature</h3>
    <p>(replace me)</p>

    <h3>Lowest number of rides on days with a high temperature</h3>
    <p>(replace me)</p>

    <hr>

    <h5>Average number of rides on days with precipitation: </h3>
    <p>(replace me)</p>

    <h3>Highest number of rides on days with precipitation: </h3>
    <p>(replace me)</p>

    <h3>Lowest number of rides on days with precipitation: </h3>
    <p>(replace me)</p>

    <hr>

    <h5>Average number of rides on days with mean wind speeds: </h3>
    <p>(replace me)</p>

    <h3>Highest number of rides on days with mean wind speeds: </h3>
    <p>(replace me)</p>

    <h3>Lowest number of rides on days with mean wind speeds: </h3>
    <p>(replace me)</p>

    <hr>

    <h5>Average number of rides on days with mean visibility: </h3>
    <p>(replace me)</p>

    <h3>Highest number of rides on days with mean visibility: </h3>
    <p>(replace me)</p>

    <h3>Lowest number of rides on days with mean visibility: </h3>
    <p>(replace me)</p>

    <hr>

  </body>
 </html>
