
<form action="/conditions" method="post">
  <h3>Edit Condition</h3>
  <p> Date<input type= "date" name="condition[date]" value="Date"/></p>
  <p> Maximum Temperature <input type= "number" name="condition[max_temperature]"/> </p>
  <br>
  <input type= "number" name="condition[mean_temperature]" value="Mean Temperature"/>
  <br>
  <input type= "number" name="condition[min_temperature]" value="Minimum Temperature"/>
  <br>
  <input type= "number" name="condition[mean_humidity]" value="Mean Humidity"/>
  <br>
  <input type= "number" name="condition[mean_visibility]" value="Mean Visibility"/>
    <br>
  <input type= "number" name="condition[mean_wind_speed]" value="Mean Wind Speed"/>
  <br>
  <input type= "number" name="condition[precipitation]" value="Precipitation"/>
  <br>
  <br>
  <input type="submit" value="submit" />
</form>
