<header>
  <a href="/"><img src="/bike_share_logo.jpg"></a>
  <nav>
    <ul>
      <li><a class="current_page" href="/conditions">Weather</a></li>
      <li><a href="/trips">Trips</a></li>
      <li><a href="/stations">Stations</a></li>
    </ul>
  </nav>
</header>

<main>
<div class="container">
  <div class="element">
    <a href="/conditions/view_all"><img src="/gear.png"></a><br>
    <h2><a href="/conditions/view_all">View Conditions</a></h2>
  </div>
  <div class="element">
    <a href="/conditions/new"><img src="/gear.png"></a><br>
    <h2><a href="/conditions/new">Create New Condition</a></h2>
  </div>
  <div class="element">
    <a href="/condition-dashboard"><img src="/gear.png"></a><br>
    <h2><a href="/condition-dashboard">Condition Statistics</a></h2>
  </div>
</div>
</main>