<h1>Weather Conditions</h1>

<a href="/conditions/new">Create New Weather Condition</a>
<table>
  <tr>
    <th>Date</th>
    <th>Additional Info</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @conditions.each do |condition| %>
    <tr>
      <td><%= condition.date %></td>
      
      <td><a href="/conditions/<%=condition.id %>">Additional Info</a></td>
      <td><a href="/conditions/<%=condition.id %>/edit">Edit</a></td>
      <td>
        <form action="/conditions/<%= condition.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="submit" value="Delete" />
        </form>
      </td>
    </tr>
  <% end %>
</table>