<h1>Input a Condition Report</h1>

<form action="/conditions/" method="post">
  <label for="">Date:</label>

  <!-- <label for="">Date:</label>
  <label for="">Date:</label>
  <label for="">Date:</label>
  <label for="">Date:</label>
  <label for="">Date:</label>
   -->

</form>
