
<title>New Conditions</title>

<h1>New Conditions</h1>

<form action="/conditions" method="post">
  <p>Create New Conditions</p>
  Date<input type="text" name="condition[ride_date_id]"/><br>
  Max Temperature<input type="integer" name="condition[max_temperature]"/><br>
  Mean Temperature<input type="integer" name="condition[mean_temperature]"/><br>
  Min Temperature<input type="integer" name="condition[min_temperature]"/><br>
  Mean Humidity<input type="integer" name="condition[mean_humidity]"/><br>
  Mean Visibility (in Miles)<input type="integer" name="condition[mean_visibility]"/><br>
  Mean Wind Speed (mph)<input type="integer" name="condition[mean_wind_speed]"/><br>
  Precipitation (inches)<input type="integer" name="condition[precipitation]"/><br>
  <input type="submit" value="Submit"/>
</form>
