<h1>Add a new weather condition:</h1>

<form action="/conditions/new" method="POST" class="container" id="needs-validation" novalidate>
  <div class="row">
    <div class="col-md-6 mb-1">
      <label for="validationCustom01">Date: </label>
      <input type="text" class="form-control" id="validationCustom01" placeholder= "condition[date]" value="YYYY-MM-DD" required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom02">Max Temperature: </label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="condition[max_temperature]" value="Unit: Farenheit" required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom03">Min Temperature: </label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="condition[min_temperature]" value="Unit: Farenheit"required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom04">Mean Temperature: </label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="condition[mean_temperature]" value="Unit: Farenheit"required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom05">Mean Humidity: </label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="condition[mean_humidity]" value="Percentage"required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom06">Mean Visibility: </label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="condition[mean_visibility]" value="Unit: Miles"required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom07">Mean Wind Speed: </label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="condition[mean_windspeed]" value="Unit: MPH"required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom08">Precipitation (in): </label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="condition[precipitation]" value="Unit: Inches" required>
    </div>
  </div>
  <button class="btn btn-success" type="submit">Create New Condition</button>
</form>
