<h1>Create a New Condition</h1>
<form action="/conditions" method="post">
  <label for="">Date:</label>
  <input type="textfield" name="condition[date]">
  <br>
  <label for="">Max Temp:</label>
  <input type="textfield" name="condition[max_temp]">
  <br>
  <label for="">Min Temp:</label>
  <input type="textfield" name="condition[min_temp]">
  <br>
  <label for="">Mean Temp:</label>
  <input type="textfield" name="condition[mean_temp]">
  <br>
  <label for="">Mean Humidity:</label>
  <input type="textfield" name="condition[mean_humidity]">
  <br>
  <label for="">Mean Visibility:</label>
  <input type="textfield" name="condition[mean_visibility]">
  <br>
  <label for="">Mean Wind Speed:</label>
  <input type="textfield" name="condition[mean_wind_speed]">
  <br>
  <label for="">Precipitation:</label>
  <input type="textfield" name="condition[precipitation]">
  <br>
  <input type="submit" value="Submit"/>
</form>
