
<form action="/conditions/new" method="post">
  <input type="hidden" name='_method' value='PUT' />
  Date:  <input type="textfield" name='condition[date]' />
  Zip Code: <input type="textfield" name="condition[zip_code]" />
  Max Temperature: <input type="textfield" name="condition[max_temperature]" />
  Mean Temperature: <input type="textfield" name="condition[mean_temperature]" />
  Min Temperature: <input type="textfield" name="condition[minimum_temperature]" />
  Mean Humidity: <input type="textfield" name="condition[mean_humidity]" />
  Mean Visibility (in Miles): <input type="textfield" name="condition[mean_visibility]" />
  Mean Wind Speed (mph): <input type="textfield" name="condition[mean_wind_speed]" />
  Precipitation (inches): <input type="textfield" name="condition[percipitation]" />
  <input type="submit" value="Submit" />
</form>
