<form action="/conditions" method="post">
  <h2>New Conditions</h2>
  Date<br>
  <input type='date'  name='condition[date]' ><br>
  Maximum Temperature<br>
  <input type='number' name='condition[max_temp]' >°F<br>
  Minimum Temperature<br>
  <input type='number' name='condition[min_temp]' >°F<br>
  Average Temperature<br>
  <input type='number' name='condition[mean_temp]' >°F<br>
  Average Humidity<br>
  <input type='number' name='condition[mean_humidity]' >%<br>
  Average Visibility<br>
  <input type='number'  name='condition[mean_visibility]' > miles<br>
  Average Wind Speed<br>
  <input type='number' name='condition[mean_wind_speed]' > mph<br>
  Precipitation<br>
  <input type='number' step=0.1  name='condition[precipitation]' > inches<br>

  <input type='submit' value='Submit'>
</form>
