
<h1>Add a new weather condition:</h1>

<form action="/conditions" method="POST">
  <label for="">Date</label>
  <input type="textfield" name="condition[date]">
  <label for="">Max Temperature</label>
  <input type="textfield" name="condition[max_temperature]">
  <label for="">Min Temperature</label>
  <input type="textfield" name="condition[min_temperature]">
  <label for="">Mean Temperature</label>
  <input type="textfield" name="condition[mean_temperature]">
  <label for="">Mean Humidity</label>
  <input type="textfield" name="condition[mean_humidity]">
  <label for="">Mean Visibility</label>
  <input type="textfield" name="condition[mean_visibility]">
  <label for="">Mean Wind Speed</label>
  <input type="textfield" name="condition[mean_windspeed]">
  <label for="">Precipitation (in)</label>
  <input type="textfield" name="condition[precipitation]">
  <input type="submit" value="Create New Condition" />
</form>
