<h1>Input a Condition Report</h1>

<form action="/conditions" method="post">

  <label for="">Date:</label>
  <input type="textfield" name="condition[date]"><br/>
  <label for="">Max Temperature:</label>
  <input type="textfield" name="condition[max_temperature_f]"><br/>
  <label for="">Mean Temperature:</label>
  <input type="textfield" name="condition[mean_temperature_f]"><br/>
  <label for="">Min Temperature:</label>
  <input type="textfield" name="condition[min_temperature_f]"><br/>
  <label for="">Mean Humidity:</label>
  <input type="textfield" name="condition[mean_humidity]"><br/>
  <label for="">Mean Visibility:</label>
  <input type="textfield" name="condition[mean_visibility_miles]"><br/>
  <label for="">Mean Wind Speed:</label>
  <input type="textfield" name="condition[mean_wind_speed_mph]"><br/>
  <label for="">Mean Precipitation:</label>
  <input type="textfield" name="condition[precipitation_inches]"><br/>

  <input type="submit" value="Update Condition Report" />
</form>
