<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bike-Share</title>
    <link rel='stylesheet' href='/style.css'/>
    <nav>
    <ul id='container'>
      <li>
        <a class="active" href='index.html'>Home</a>
      </li>
      <li>
        <a href='/stations'>Stations</a>
      </li>
      <li>
        <a href='/conditions'>Weather Conditions</a>
      </li>
      <li>
        <a href='/trips'>Trips</a>
      </li>
      <li style="float:right">
        <h1>San Francisco Bike Share</h1>
      </li>
    </ul>
  </nav>
  </head>
  <body>
    <h1>Input a Condition Report</h1>
    <hr>
    <form action="/conditions" method="post">
      <h3>Date:</h3>
      <p><input type="textfield" name="condition[date]"></p>
      <h3>Max Temperature:</h3>
      <p><input type="textfield" name="condition[max_temperature_f]"></p>
      <h3>Mean Temperature:</h3>
      <p><input type="textfield" name="condition[mean_temperature_f]"></p>
      <h3>Min Temperature:</h3>
      <p><input type="textfield" name="condition[min_temperature_f]"></p>
      <h3>Mean Humidity:</h3>
      <p><input type="textfield" name="condition[mean_humidity]"></p>
      <h3>Mean Visibility:</h3>
      <p><input type="textfield" name="condition[mean_visibility_miles]"></p>
      <h3>Mean Wind Speed:</h3>
      <p><input type="textfield" name="condition[mean_wind_speed_mph]"></p>
      <h3>Mean Precipitation:</h3>
      <p><input type="textfield" name="condition[precipitation_inches]"></p>
      <input type="submit" value="Create Condition Report" />
    </form>

  </body>
 </html>
