<h1> Weather Dashboard </h1>

<p> 40-49: <% Condition.max_temp_range_40_to_49.each do |condition| %>

          <%= Trip.number_of_rides_for_date((condition.date).strftime("%d/%m/%Y")) %> </br>

          <% end %> </p>
