<h1>Trips Dashboard<h1>
<p>The average duration of a ride is <%= Trip.average(:duration)%> minutes</p>
<p>The longest ride was <%=Trip.maximum(:duration)%> minutes.</p>
<p>The shortest ride was <%=Trip.minimum(:duration)%> minutes.</p>
