<h1>Trips Dashboard</h1>

<h5>Average duration of a ride: <%= @average %></h5>
<h5>Longest ride: <%= @longest %></h5>
<h5>Shortest ride: <%= @shortest %></h5>
<h5>Station with the most rides as a starting place: </h5>
<h5>Station with the most rides as an ending place: </h5>
<h5>Month by Month breakdown of number of rides with subtotals for each year: </h5>
<h5>Most ridden bike with total number of rides for that bike: </h5>
<h5>Least ridden bike with total number of rides for that bike: </h5>
<h5>User subscription type breakout with both count and percentage: </h5>
<h5>Single date with the highest number of trips with a count of those trips: </h5>
<h5>Single date with the lowest number of trips with a count of those trips: </h5>

iteration 9:
<h5>Weather on the day with the highest rides</h5>
<h5>Weather on the day with the lowest rides</h5>
