<h3>Trips Dashboard</h3>
<p>The average duration of a ride is <%= Trip.average_duration%> minutes</p>
<p>The longest ride was <%=Trip.longest_ride%> minutes.</p>
<p>The shortest ride was <%=Trip.shortest_ride%> minutes.</p>
