<h1>All Trips</h1>

<% @trips.each do |trip| %>
  <a href="/trips/<%=trip.id%>"><h4>Trip ID: <%= trip.id %></h4></a>
  <p>Duration: <%= trip.duration %></p>
  <p>Start Date: <%= trip.start_date %></p>
  
  <br>
<% end %>
