<h1> All Trips </h1>

<% @trips.each do |trip| %>
  <p> <a href="/trips/<%=trip.id%>"> <%= trip.id %> </a> </p>
  <a href="/trips/<%=trip.id%>/edit"> Edit </a>
  <form action='/trips/<%=trip.id%>' method='POST'>
    <input type='hidden' name='_method' value='DELETE'>
    <input type='submit' value='delete'/>
  </form>
<% end %>

<a href="/trips-dashboard"> Trip Dashboard </a> </br>
<a href="/trips/new"> New Trip </a> </br>
<a href="/">Back to Homepage</a>
