<h1>All Trips</h1>
<a href="/"><button>Home</button></a>
<a href="/trips/new"><button>Add Trips</button></a>
<a href="/trips-dashboard"><button>Trips Dashboard</button></a>


 <%= erb(:'trips/form') %>


<a href="/trips/page/back/<%=@page_index%>"><button>previous page</button></a>
<a href="/trips/page/<%=@page_index%>"><button>next page</button></a>