<div class='edit-container'>
  <form class="" action="/trips/new" method="post">
    <h1>NEW TRIP</h1>
    <input type="integer" name="trip[duration]" placeholder="Duration">
    <input type="text" name="trip[start_date]" placeholder="Start Date">
    <input type="text" name="trip[start_station_id]" placeholder="Start Station">
    <input type="text" name="trip[end_date]" placeholder="End Date">
    <input type="text" name="trip[end_station_id]" placeholder="End Station">
    <input type="text" name="trip[bike_id]" placeholder="Bike Id">
    <input type="integer" name="trip[subscription_type]" placeholder="Subscription Type">
    <input type="integer" name="trip[zip_code]" placeholder="Zip Code">
    <input class='submit-btn' type="submit" value="submit">
  </form>
</div>
