<head>
  <title>New Trip</title>
</head>

<body>
  <form class="" action="/trips/new" method="post">
  <input type="integer" name="trip[duration]" placeholder="Duration">
  <input type="text" name="trip[start_date]" placeholder="Start Date">
  <input type="text" name="trip[start_station_id]" placeholder="Start Station">
  <input type="text" name="trip[end_date]" placeholder="End Date">
  <input type="text" name="trip[end_station_id]" placeholder="End Station">
  <input type="text" name="trip[bike_id]" placeholder="Bike Id">
  <input type="integer" name="trip[subscription_type]" placeholder="Subscription Type">
  <input type="integer" name="trip[zip_code]" placeholder="Zip Code">
  <input type="submit" value="submit">
</body>
