
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Create New Trip</h1>
                <form action="/trips/" method="post">

                    <label>Duration:</label>
                    <input type="text" name="trip[duration]">
                    <label>Start Date:</label>
                    <input type="text" name="trip[start_date]">
                    <label>End Date:</label>
                    <input type="text" name="trip[end_date]">
                    <label>Start Station:</label>
                    <select class="station-selector" name="trip[start_station_id]">
                        <% @stations.order(:name).each do |station| %>
                            <option value="<%= station.id %>">
                                <%= station.name %>
                            </option>
                        <% end %>
                    </select>
                    <label>End Station:</label>
                    <select class="station-selector" name="trip[end_station_id]">
                        <% @stations.order(:name).each do |station| %>
                            <option value="<%= station.id %>">
                                <%= station.name %>
                            </option>
                        <% end %>
                    </select>
                    <label>Bike ID:</label>
                    <input type="text" name="trip[bike_id]">
                    <label>Subscription Type:</label>
                    <input type="text" name="trip[subscription_type]">
                    <label>Zip Code:</label>
                    <input type="text" name="trip[zip_code]">
                    <input type="submit" value="Create Trip" />
                </form>
            </div>
        </div>
    </div>