<h1>Add a new trip:</h1>

<form action="/trips" method="post">
  <label for="">Duration</label>
  <input type="textfield" name="trip[duration]">
  <label for="">Start Date</label>
  <input type="textfield" name="trip[start_date]">
  <label for="">Start Station Name</label>
  <input type="textfield" name="trip[start_station_name]">
  <label for="">End Date</label>
  <input type="textfield" name="trip[end_date]">
  <label for="">End Station Name</label>
  <input type="textfield" name="trip[end_station]">
  <label for="">Bike ID</label>
  <input type="textfield" name="trip[bike_id]">
  <label for="">Subcription Type</label>
  <input type="textfield" name="trip[subscription_type]">
  <label for="">Zip Code</label>
  <input type="textfield" name="trip[zip_code]">
</form>
