<form action="/trips" method="post">
  <fieldset>
    <legend>Create A New Trip</legend>
      <input type="hidden" name="_method" value="PUT" />
      Duration:<br>
      <input type='text' name='trip[duration]'><br/>
      Start Date:<br>
      <input type='text' name='trip[start_date]'><br/>
      Start Station Name:<br>
      <input type='text' name='trip[start_station_name]'><br/>
      Start Station ID:<br>
      <input type='integer' name='trip[start_station_id]'><br/>
      <!-- <select name="trip[station_id]">
        <% @stations.each do |station| %>
          <option value=<%= station.id %>><%= station.name %></option>
        <% end %>
      </select><br> -->
      End Date:<br>
      <input type='text' name='trip[end_date]'><br/>
      End Station Name:<br>
      <input type='text' name='trip[end_station_name]'><br/>
      End Station ID:<br>
      <input type='integer' name='trip[end_station_id]'><br/>
      Bike ID:<br/>
      <input type='text' name='trip[bike_id]'><br/>
      Subscription Type:<br>
      <select name="trip[subscription_type]">
        <option value="Subscriber">Subscriber</option>
        <option value="Customer">Customer</option>
      </select><br>
      Zip Code:<br>
      <input type='text' name='trip[zip_code]'><br/>
      <input type="submit" value="Submit">
    </fieldset>
</form>
