<form action="/trips" method="post">
  <h2>New Trip</h2>
  Duration<br>
  <input type='integer'  name='trip[duration]' ><br>
  Start Date<br>
  <input type='text'  name='trip[start_date]' ><br>
  Start Station Name<br>
  <input type='text'  name='trip[start_station]'><br>
  End Date<br>
  <input type='text'  name='trip[end_date]'><br>
  End Station Name<br>
  <input type='text'  name='trip[end_station]'><br>
  Bike Number<br>
  <input type='integer'  name='trip[bike_number]'><br>
  Subscription Type<br>
  <input type='text'  name='trip[subscription_type]'><br>
  Zip Code<br>
  <input type='integer'  name='trip[zip_code]'><br>

  <input type='submit' value='Submit'>
</form>
