<h1>Add a new trip:</h1>

<form action="/trips" method="POST" class="container">
  <div class="row">
    <div class="col-md-6 mb-1">
      <label for="validationCustom01">Duration: </label>
      <input type="text" class="form-control" name= "trip[duration]" placeholder="How long was the trip (in seconds)?"/>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom07">Subscription Type: </label>
      <input type="text" class="form-control" name="trip[subscription_type]" placeholder="Subscriber or Customer" />
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom02">Start Date: </label>
      <input type="text" class="form-control" name="trip[start_date]" placeholder="YYYY-MM-DD"/>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom04">End Date: </label>
      <input type="text" class="form-control" name="trip[end_date]" placeholder="YYYY-MM-DD"/>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom03">Start Station Name: </label>
      <select type="text" class="form-control" name="trip[start_station_name]" placeholder="Name of the station trip started at">
        <option value="" disabled selected>Name of the station trip started at</option>
        <% @stations.each do |station| %>
        <option value="start_station_id"><%= station.name %></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom03">Start Station ID: </label>
      <select type="text" class="form-control" name="trip[start_station_id]" placeholder="ID of the station trip started at">
        <option value="" disabled selected>ID of the station trip started at</option>
        <% @stations.each do |station| %>
        <option value="start_station_id"><%= station.id %></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom05">End Station Name: </label>
      <select type="text" class="form-control" name="trip[end_station_name]" placeholder="Name of the station trip ended at">
        <option value="" disabled selected>Name of the station trip ended at</option>
        <% @stations.each do |station| %>
        <option value="start_station_id"><%= station.name %></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom05">End Station ID: </label>
      <select type="text" class="form-control" name="trip[end_station_id]" placeholder="ID of the station trip ended at">
        <option value="" disabled selected>ID of the station trip started at</option>
        <% @stations.each do |station| %>
        <option value="end_station_id"><%= station.id %></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom06">Bike ID: </label>
      <input type="text" class="form-control" name="trip[bike_id]" placeholder="Bike ID on this trip" />
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom08">Zip Code: </label>
      <input type="text" class="form-control" name="trip[zip_code]" placeholder="5 digit zip code" />
    </div>
  </div>
  <button class="btn btn-success" type="submit">Create New Trip</button>
</form>
