<h1> New trip <h1>

<form action="/trips" method="POST">
  <h1> Create a Trip</h1>
  <p> Trip duration: </p>
  <input type="text" name="trip[duration]"/></br>

  <input id="submit-button" type="submit"/>
</form>

<a href="/trips">Back to Trips Index</a></br>
<a href="/">Back to Homepage</a>
