<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bike-Share</title>
    <link rel='stylesheet' href='/style.css'/>
    <nav>
    <ul id='container'>
      <li>
        <a class="active" href='index.html'>Home</a>
      </li>
      <li>
        <a href='/stations'>Stations</a>
      </li>
      <li>
        <a href='/conditions'>Weather Conditions</a>
      </li>
      <li>
        <a href='/trips'>Trips</a>
      </li>
      <li style="float:right">
        <h1>San Francisco Bike Share</h1>
      </li>
    </ul>
  </nav>
  </head>
  <body>
    <h1>Add your trip information</h1>
    <hr>
    <form action="/trips" method="POST">
      <h3>Duration: </h3>
      <p><input type="number" name="trip[duration]"/></p>
      <h3>Start Date: </h3>
      <p><input type="text" name="trip[start_date]" /></p>
      <h3>End Date: </h3>
      <p><input type="text" name="trip[end_date]"/></p>
      <h3>Starting Station: </h3>
      <p><input type ="text" name="trip[start_station_id]" /></p>
      <h3>Ending Station: </h3>
      <p><input type="text" name="trip[end_station_id]" /></p>
      <h3>Bike id: </h3>
      <p><input type="text" name="trip[bike_id]" /></p>
      <h3>Condition id: </h3>
      <p><input type="text" name="trip[condition_id]" /></p>
      <h3>Start Station Name: </h3>
      <p><input type="text" name="trip[start_station_name]" /></p>
      <h3>Subscriber or Customer: </h3>
      <p><input type="text" name="trip[subscription]" /></p>
      <h3>Zipcode: </h3>
      <p><input type="text" name="trip[zipcode]" /></p>
      <input type="submit" value="Add Trip" />
    </form>

  </body>
 </html>
