<h1>Trip Dashboard</h1>

<p>Average Duration of a Ride: <%= @trips.average_duration %></p>
<p>Longest Ride: <%= @trips.longest_ride %></p>
<p>Shortest Ride: <%= @trips.shortest_ride %></p>
<p>Starting Station With the Most Rides: </p>
<p>Ending Station With the Most Rides: </p>
<ul>Month-By-Month Ride Breakdown 2013:
  <li>January: </li>
  <li>February: </li>
  <li>March: </li>
  <li>April: </li>
  <li>May: </li>
  <li>June: </li>
  <li>July: </li>
  <li>August: </li>
  <li>September: </li>
  <li>October: </li>
  <li>November: </li>
  <li>December: </li>
</ul>
<ul>Month-By-Month Ride Breakdown 2014:
  <li>January: </li>
  <li>February: </li>
  <li>March: </li>
  <li>April: </li>
  <li>May: </li>
  <li>June: </li>
  <li>July: </li>
  <li>August: </li>
  <li>September: </li>
  <li>October: </li>
  <li>November: </li>
  <li>December: </li>
</ul>
<ul>Month-By-Month Ride Breakdown 2015:
  <li>January: </li>
  <li>February: </li>
  <li>March: </li>
  <li>April: </li>
  <li>May: </li>
  <li>June: </li>
  <li>July: </li>
  <li>August: </li>
  <li>September: </li>
  <li>October: </li>
  <li>November: </li>
  <li>December: </li>
</ul>
<p>Most Ridden Bike: </p>
<!-- with total number of rides -->
<p>Least Ridden Bike: </p>
<!-- with total number of rides -->
<p>User Subscription Type: </p>
<!-- with both count and percentage -->
<p>Date With Highest Number of Trips: </p>
<!-- include trip count -->
<p>Date With Lowest Number of Trips: </p>
<!-- include trip count -->
