<h1> Trip Dashboard </h1>

<p> Average duration of a ride: <%= "#{Trip.average_duration}" %></p>

<p> Longest Ride: <%= "#{Trip.longest_ride}" %></p>

<p> Shortest Ride: <%= "#{Trip.shortest_ride}" %></p>
