  <h1>Trip Analysis<h1>

    <p>Average duration of a ride:<%= Trip.average_duration %></p>
    <p>Longest ride: </p>
    <p>Shortest ride: </p>
    <p>Station with the most rides as a starting place: </p>
    <p>Station with the most rides as an ending place: </p>
    <p>Month by Month breakdown of number of rides with subtotals for each year: </p>
    <p>Most ridden bike with total number of rides for that bike: </p>
    <p>Least ridden bike with total number of rides for that bike: </p>
    <p>User subscription type breakout with both count and percentage: </p>
    <p>Single date with the highest number of trips with a count of those trips: </p>
    <p>Single date with the lowest number of trips with a count of those trips: </p>
