<h1>Welcome to the Station Dashboard!</h1>

<div class="total_stations">
  <p>
    Total count of stations:
  </p>
</div>

<div class="average_bikes">
  <p>
    Average bikes available per station:
  </p>
</div>

<div class="most_bikes">
  <p>
    Most bikes available at a station:
  </p>
</div>

<div class="stations_with_most_bikes">
  <p>
    Station(s) where the most bikes are available:
  </p>
</div>

<div class="fewest_bikes">
  <p>
    Fewest bikes available at a station:
  </p>
</div>

<div class="stations_with_fewest_bikes">
  <p>
    Station(s) where the fewest bikes are available:
  </p>
</div>

<div class="newest_stations">
  <p>
    Most recently installed station:
  </p>
</div>

<div class="oldest_stations">
  <p>
    Oldest station:
  </p>
</div>
