<h1>Edit station:</h1>

<form action="/stations" method="post">
  <label for="">Name</label>
  <input type="textfield" name="station[name]">
  <label for="">Dock Count</label>
  <input type="textfield" name="station[dock_count]">
  <label for="">City</label>
  <input type="textfield" name="station[city]">
  <label for="">Installation Date</label>
  <input type="textfield" name="station[installation_date]">
  <input type="submit" value="Update New Station" />
</form>
