<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bike Share</title>
  </head>
  <body>
    <h1>Station Index</h1>
      <% @stations.each do |station| %>
      <%= station.name %><br>
      <%= station.dock_count %><br>
      <%= station.city %><br>
      <%= station.installation_date %><br>
      <% end %>
  </body>
</html>
