<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/test.css">
</head>

<body>

  <div class="container">
    <header>
      <h1> Stations </h1>
      <nav>
        <ul>
          <li><a href="/stations-dashboard">Station Dashboard</a></li>
          <li> <a href="/stations/new"> New Station </a></li>
          <li><a href="/">Home  </a></li>
        </ul>
      </nav>
    </header>
    <% @stations.each do |station| %>
    <section class="station">
        <a href="/stations/<%=station.id%>" class ="name"> <%= station.name %> </a></br>
        <section class="edit">
          <a href="/stations/<%=station.id%>/edit"> Edit </a>
        </section>
        <section class="delete">
          <form action='/stations/<%=station.id%>' method='POST'>
            <input type='hidden' name='_method' value='DELETE'>
            <button type='submit' class="delete_button">Delete</button>
          </form>
        </section>
    </section>
    <% end %>
  </div>
</body>
