<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<h1> Bike Share Stations! </h1>

<% @stations.each do |station| %>
  <p> <a href="/stations/<%=station.id%>"> <%= station.name %> </a> </p>
  <a href="/stations/<%=station.id%>/edit"> Edit </a>
  <form action='/stations/<%=station.id%>' method='POST'>
    <input type='hidden' name='_method' value='DELETE'>
    <input type='submit' value='delete'/>
  </form>
<% end %>

<a href="/stations-dashboard">Station Dashboard</a> </br>
<a href="/stations/new"> New Station </a> </br>
<a href="/">Back to Homepage  </a>
