<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="application.css">
    <title>Stations</title>
  </head>
  <body>
    <h1 class="title">All Stations</h1>

    <ul>
      <% @stations.each do |station| %>
          <li><a href="/stations/<%= station.id %>"><%= station.name %></a><br>
              <button type="button"><a href="/stations/<%= station.id %>/edit">Edit</a></button>
              <form action="/stations/<%= station.id %>" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" value="Delete">
              </form></li>
      <% end%>
    </ul>
  </body>
</html>