<h1>All stations</h1>
<% @stations.each do |station| %>
  <h3> <%= station.name %> </h3>
  <p>Dock count:</p>
  <p> <%= station.dock_count  %> </p>
  <p> Installation date: </p>
  <p> <%= station.installation_date  %> </p>
<% end %>
