<h1> all the stations! </h1>

<% @stations.each do |station| %>
<ul>
  <li><%= station.name %></li>
  <li><%= station.dock_count %></li>
  <li><%= station.city %></li>
  <li><%= station.installation_date %></li>
</ul>

<% end %>