<header>
      <a href="/"><img src="/bike_share_logo.jpg"></a>
      <nav>
        <ul>
          <li><a class="current_page" href="/stations">Stations</a></li>
          <li><a href="/trips">Trips</a></li>
          <li><a href="/conditions">Weather</a></li>
        </ul>
      </nav>
    </header>
<main>
<div class="container">
  <div class="element">
    <a href="/stations/view_all"><img src="/gear.png"></a><br>
    <h2><a href="/stations/view_all">View Stations</a></h2>
  </div>
  <div class="element">
    <a href="/stations/new"><img src="/gear.png"></a><br>
    <h2><a href="/stations/new">Create New Station</a></h2>
  </div>
  <div class="element">
    <a href="/station-dashboard"><img src="/gear.png"></a><br>
    <h2><a href="/station-dashboard">Station Statistics</a></h2>
  </div>
</div>
</main>
