<h1>All Stations</h1>

<div>
  <% @stations.each do |station| %>
    <h2><%= station.name %></h2>
    <p><%= station.dock_count %></p>
    <p><%= station.city %></p>
    <p><%= station.installation_date %></p>
  <% end %>
</div>
