<h1>Add Station</h1>

<form action='/stations/new' method='post'>
  Name: <input type="textfield" name='station[name]' />
  Number of Docks: <input type="textfield" name='station[dock_count]' />
  City: <input type="textfield" name='station[city_id]' />
  Install Date: <input type="textfield" name='station[install_date]' />
  <input type="submit" value="Submit" />
</form>