<h1>Create New Station</h1>

<p>Please enter the new station's data.</p>

<form action="/stations" method="post">
  <label for="">Name: </label>
  <input type="textfield" name="station[name]">
  <label for="">Dock Count: </label>
  <input type="textfield" name="station[dock_count]">
  <label for="">City: </label>
  <input type="textfield" name="city[city]">
  <label for="">Installation Date: </label>
  <input type="textfield" name="station[installation_date]">
  <input type="submit" value="Create Station" />
</form>
