<head>
  <link rel = "stylesheet" type = "text/css" href = <%= url("/main.css")%> />
  <link href=<%= url("/css/bootstrap.min.css") %> rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Bike Share</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/stations">Stations<span class="sr-only">(current)</span></a></li>
          <li><a href="/trips">Trips</a></li>
          <li><a href="/weather">Weather</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analytics<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/stations-dashboard">Stations</a></li>
              <li><a href="#">Trips</a></li>
              <li><a href="#">Weather</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <header>
    <h1>Create a New Station</h1>
  </header>
  <div class="spacer">
    <form action="/stations" method="POST">
      <div class="row forminput">
        <h4>Name:</h4>
        <input type="text" name="station[name]" id="name">
      </div>
      <div class="row forminput">
        <h4>Dock Count:</h4>
        <input type="text" name="station[dock_count]" id="dockcount">
      </div>
      <div class="row forminput">
        <h4>City:</h4>
        <select name="station[city_id]" id="cities">
          <% @cities.each do |city| %>
            <option value=<%= city.id %>><%= city.city %></option>
          <% end %>
        </select>
      </div>
      <div class="row forminput">
        <h4>Installation Date:</h4>
        <input type="text" name="station[installation_date]" id="installdate">
      </div>
      <div class="spacer">
        <input class="btn btn-success" type="submit" value="Create New Station" />
      </div>
    </form>
  </div>

  <a href="/stations"><button class="btn btn-danger">Cancel</button></a>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>

