<form action="/stations" method="post">
  <p>Enter a new station</p>
  <p>Please make sure to fill out all station fields</p>
  <input type='text' name='name' placeholder="Name" /><br/>
  <input type='number' name='dock_count' placeholder="Dock Count" /><br/>
  <input type='text' name='lat' placeholder="Lattitude" /><br/>
  <input type='text' name='long' placeholder="Longitude" /><br/>
  <input type='text' name='city' placeholder="City" /><br/>
  <input type='date' name='installation_date' placeholder="Date of Installation" /><br/>
  <input type='submit' value = "Submit"/>
</form>
