<form action="/stations" method="post">
  <h2>New Station</h2>
  Name<br>
  <input type='text'  name='station[name]' ><br>
  City<br>
  <input type='text'  name='station[city]' ><br>
  Dock Count<br>
  <input type='text'  name='station[dock_count]'><br>
  Installation Date<br>
  <input type='text'  name='station[installation_date]'><br>
  <input type='submit' value='Submit'>
</form>
