<h1>Create a New Station</h1>
<br/>
<br/>
<form action='/stations' method='post'>
  <label>Name:</form>
  <input type='textfield' name='station[name]'><br/>
  <label>Dock Count:</form>
  <input type='textfield' name='station[dock_count]'><br/>
  <label>City:</form>
  <input type='textfield' name='station[city]'><br/>
  <label>Installation Date:</form>
  <input type='textfield' name='station[installation_date]'>
  <br/>
  <br/>
  <br/>
  <input type='submit' value="Create!" >
</form>
