<h1> New Station </h1>

<form action="/stations" method="post">
  <h3>Create a new station</h3>
  <input type= "text" name="station[name]" value="Name"/>
  <br>
  <input type= "number" name="station[dock_count]" value="Dock count"/>
  <br>
  <input type= "text" name="station[city]" value="City"/>
  <br>
  <input type= "date" name="station[installation_date]" value="Installation Date"/>
  <br>
  <br>
  <input type="submit" value="submit" />
</form>
