<html>
<head>
  <title>Bike Share: Add Station</title>
</head>
<body>
  <main>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <section>
          <div class="panel panel-primary panel-margins">
            <div class="panel-heading">
              <h3 class="panel-title">Add A Station</h3>
            </div>
            <div class="panel-body">
              <form action="/stations" method="post">
                <p class="input-label">Name</p>
                <input type="text" name="station[name]">
                <p class="input-label">Dock count</p>
                <input type="text" name="station[dock_count]">
                <p class="input-label">Installation date</p>
                <input type="text" name="station[installation_date]">
                <p class="input-label">City id</p>
                <input type="text" name="station[city_id]"><br/>
                <button type="submit" class="btn btn-primary">Create Station</button>
              </form>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-5">
        <div class="panel-margins">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="new-view-textbox-header">Default Header</h3>
              <p>Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default Default </p>
              <!-- <h1> kjhsdfkjsahdfkjsahdfklasjhdfklasjdhflkasjdhfaskldjfha</h1> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </main>
</body>
</html>
