<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New Station</title>
  </head>
  <body>
    <form class="new-station" action="/stations" method="post">
      <p>Station Name</p><input type="text" name="station[name]" value="Name">
      <p>Dock Count</p><input type="text" name="station[dock_count]" value="Dock Count">
      <p>City</p><input type="text" name="station[city]" value="City">
      <p>Installation Date</p><input type="text" name="station[installation_date]" value="Installation Date">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
