<header>
  <a href="/"><img src="/bike_share_logo.jpg"></a>
  <nav>
    <ul>
      <li><a class="current_page" href="/stations">Stations</a></li>
      <li><a href="/trips">Trips</a></li>
      <li><a href="/conditions">Weather</a></li>
    </ul>
  </nav>
</header>

<div class="show">
  <form action="/stations" method="post">
    <h1>Create A New Station</h1>
    <h2>Name:  <input type="text" name="station[name]"/></h2>
    <h2>Number of Docks:  <input type="number" name="station[dock_count]"/></h2>
    <h2>City:  <select name="city[name]">
      <% @cities.each do |city| %>
      <option value="<%= city.name %>"><%= city.name %></option>
      <% end %>
    </select></h2>
    <h2>Installation Date:  <input type="date" name="station[installation_date]"/></h2>
    <input type="submit" value="Submit"/>
  </form>
  <p><a href="/stations">Back to Stations</a></p>
</div>
