<h1>Create a New Station</h1>

<form action='/stations' method='post'>
  <h3>Name:</h3>
  <p><input type='textfield' name='station[name]'></p>
  <h3>Dock Count:</h3>
  <p><input type='textfield' name='station[dock_count]'></p>
  <h3>City:</h3>
  <p><input type='textfield' name='station[city]'></p>
  <h3>Installation Date:</h3>
  <p><input type='textfield' name='station[installation_date]'></p>

  <input type='submit' value="Create!">
</form>
