<h1>Create a New Station</h1>

<form action="/stations" method="post">
  <label for="">Name: </label>
  <input type="textfield" name="station[name]" value="Andrew's House">
  <label for="">City: </label>
  <input type="textfield" name="station[city]" value="Denver">
  <label for="">Dock Count: </label>
  <input type="textfield" name="station[dock_count]" value="1">
  <label for="">Installation Date: </label>
  <input type="date" name="station[installation_date]" value="2015-10-10">
  <label for="">Latitude: </label>
  <input type="textfield" name="station[lat]" value="39.750839">
  <label for="">Longitude: </label>
  <input type="textfield" name="station[long]" value="-104.9769307">
  <input type="submit" value="Submit"/>
</form>
