<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bike-Share</title>
    <link rel='stylesheet' href='style.css'/>
    <nav>
    <ul id='container'>
      <li>
        <a href='/'>Home</a>
      </li>
      <li>
        <a class="active" href='/stations'>Stations</a>
      </li>
      <li>
        <a href='/conditions'>Weather Conditions</a>
      </li>
      <li>
        <a href='/trips'>Trips</a>
      </li>
      <li style="float:right">
        <h1>San Francisco Bike Share</h1>
      </li>
    </ul>
  </nav>
  </head>
  <body>
    <br/>
    <br/>
    <br/>
    <h1 class='title'>Create a New Station</h1>
    <br/>
    <hr>
    <table>
    <tr>
      <td>
        <form action='/stations' method='post'>
          <h3>Name:</h3>
          <p><input type='textfield' name='station[name]'></p>
          <h3>Dock Count:</h3>
          <p><input type='textfield' name='station[dock_count]'></p>
          <h3>City:</h3>
          <p><input type='textfield' name='station[city]'></p>
          <h3>Installation Date:</h3>
          <p><input type='textfield' name='station[installation_date]'></p>

          <input type='submit' value="Create!">
        </form>
        </td>
      </tr>
    </table>
  </body>
 </html>
