<body>
<div class= "new-background">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-beam">
    </div>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img class="brand-logo" alt="Brand" src="bs.png">
        </a>
        <h1> Create New Station</h1>
      </div>
      <div>
      <a class="nav navbar-nav navbar-right" href="/station-dashboard">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>
      <a class="nav navbar-nav navbar-right" href="/stations"><h3 class="back-to-index">Back to Station's</h3></a>
      </div>
    </div>
  </nav>
<div class="container container-body">
<form class="edit-form-left" action="/stations" method="post">
  <div class="form-group">
    <label class="entry_title">Name: </label>
    <input type="text" name="station[name]" value="">
  </div>
  <div class="form-group">
    <label class="entry_title">Dock Count: </label>
    <input type="number" name="station[dock_count]" value="">
  </div>
  <div class="form-group">
    <label class="entry_title">City: </label>
    <input type="text" name="station[city]" value="">
  </div>
  <div class="form-group">
    <label class="entry_title">Installation Date: </label>
    <input class="input_installation" type="date" name="station[installation_date_id]" value="">
  </div>
  <button class="btn btn-warning" type="submit" name="button">Create Station</button>
</form>
</div>
</div>
</body>
