<h1>Add a New Station</h1>
<form action="/stations/new" method="post">
  <label for="name">Name</label></br>
  <input type="text" name="station[name]"></br>
  <!-- <label for="station_id">Station ID<br/> -->
  <!-- <input type="text" name="station[station_id]"><br/>
  <label for="station_name_id">Station Name ID<br/> -->
  <!-- <input type="text" name="station[station_name_id]"><br/>
  <label for="lat">Latitude<br/>
  <input type="text" name="station[lat]"><br/>
  <label for="long">Longititude<br/>
  <input type="text" name="station[long]"><br/> -->
  <label for="dock_count">Dock Count<br/>
  <input type="text" name="station[dock_count]"><br/>
  <label for="city">City<br/>
  <input type="text" name="station[city]"><br/>
  <label for="installation_date">Installation Date<br/>
  <input type="text" name="station[installation_date]"><br/>
  <button type="submit">Create Station</button>
</form>
