<form action="/stations" method="POST">
  <h1> Create a Station </h1>
  <p> Station Name: </p>
  <input type="text" name="station[name]"/></br>
  <p> Number of Docks: </p>
  <input type="number" name="station[dock_count]"/></br>
  <p> City: </p>
  <input type="text" name="station[city]"/></br>
  <p> Installation Date: </p>
  <input type="date" name="station[installation_date]"/></br>
  <input type="submit"/>
</form>

<a href="/stations">Back to Station Index</a></br>
<a href="/">Back to Homepage</a>
