<div class="container-fluid text-center">
  <h1>Add a New Station</h1>
  <form action="/stations/new" method="post">
    <label for="name">Name</label></br>
    <input type="text" name="station[name]" id="name"></br>
    <label for="dock_count">Dock Count<br/>
    <input type="text" name="station[dock_count]" id="dock_count"><br/>
    <label for="city">City<br/>
    <input type="text" name="station[city]" id="city"><br/>
    <label for="installation_date">Installation Date<br/>
    <input type="text" name="station[installation_date]" id="installation_date"><br/>
    <button type="submit">Create Station</button>
  </form>
</div>
