<h1>Add a new station:</h1>

<form action="/stations" method="POST" class="container" id="needs-validation" novalidate>
  <div class="row">
    <div class="col-md-6 mb-1">
      <label for="validationCustom01">Name: </label>
      <input type="text" class="form-control" id="validationCustom01" placeholder= "station[name]" value="Name of Station" required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom02">Dock Count: </label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="station[dock_count]" value="Number of Bikes at this Station" required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom03">City: </label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="station[city]" value="City"required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom04">Installation Date: </label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="station[installation_date]" value="YYYY-MM-DD"required>
    </div>
  </div>
  <button class="btn btn-success" type="submit">Create New Condition</button>
</form>
