<!DOCTYPE html>
<html>
  <head>
    <title>Bike Share World!</title>
  </head>
  <body>
    <a href="/stations">Go Back</a>
    <h1>Add station</h1>
    <form action="/stations" method= "post">
      <label>Name</label>
      <input class="mytext" type= "text" name= "station[name]"><br/>
      <label>Dock Count</label>
      <input class="mytext" type= "text" name= "station[dock_count]"><br/>
      <label>City</label>
      <input class="mytext" type= "text" name= "station[city]"><br/>
      <label>Installation Date</label>
      <input class="mytext" type= "text" name= "station[installation_date]"><br/>
      <input type= "submit">
    </form>
  </body>
</html>
