<h1>Create a New Station</h1>

<form action="/stations" method="post">
  <label for="">Name: </label>
  <input type="textfield" name="station[name]">
  <label for="">City: </label>
  <input type="textfield" name="station[city]">
  <label for="">Dock Count: </label>
  <input type="textfield" name="station[dock_count]">
  <label for="">Installation Date: </label>
  <input type="date" name="station[installation_date]">
  <label for="">Latitude: </label>
  <input type="textfield" name="station[lat]" value="0.0">
  <label for="">Longitude: </label>
  <input type="textfield" name="station[long]" value="0.0">
  <input type="submit" value="Submit"/>
</form>
