<!-- <div class="container text-center"> -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1><%= @station.name %></h1>
      <p><%= @station.dock_count %></p>
      <p><%= @station.city %></p>
      <p><%= @station.installation_date %></p>
    </div>
    <div class="col-md-2"></div>
  </div>
<!-- </div> -->
