<h1>Station</h1>

Name: <%= @station.name %>
Number of Docks: <%= @station.dock_count %>
City: <%= @station.city.name %>
Install Date: <%= @station.install_date %>

<br><a href="/stations">All Stations</a>