<h2 class='title'><%= @stations.name %></h2>

<p class='city'>City <%= @stations.city %></p>
<p class='dock_count'>Dock Count <%= @stations.dock_count %></p>
<p class='installation_date'>Installation Date <%= @stations.installation_date %></p>
