<h1>Station <%= @station.name %></h1>

<p>Dock Count: <%= @station.dock_count %></p><br>
<p>City: <%= @station.city %></p><br>
<p>Installation Date: <%= @station.installation_date %></p>

<a href="/stations">All Stations</a>
