<h1>Station Dashboard</h1>

Total Count of Stations: <%= Station.count %><br/>
Average Number of Bikes per Station: <%= Station.average_available_bikes %><br/>
Maximum Number of Bikes at a Station: <%= Station.max_available_bikes %><br/>
Station with the Maximum Bikes: <%= Station.max_bike_station  %><br/>

<br><a href="/stations">All Stations</a>