<h2>Weather Dashboard</h2>
<a href=<%= index %>>Click to See All <% @model.name %></a>

<p>Per 10 degree interval...</p>
<p>Per 1/2in of Precipitation</p>
<p>Per 4 mile increment</p>
<p>Per Visibility of 4 miles</p>

<!-- * Breakout of average number of rides, highest number of rides, and lowest number of rides on days with a high temperature in 10 degree chunks (e.g. average number of rides on days with high temps between fifty and sixty degrees)
* Breakout of average number of rides, highest number of rides, and lowest number of rides on days with precipitation in half-inch increments.
* Breakout of average number of rides, highest number of rides, and lowest number of rides on days with mean wind speeds in four mile increments.
* Breakout of average number of rides, highest number of rides, and lowest number of rides on days with mean visibility in miles in four mile increments.-->
