<h1>Add a New Condition:</h1>

<form action= "/conditions" method "post">
	<p>Enter a Date:</p>
	<input type='text' name='weather_date'/><br/>
	<p>Enter a Maximum Temperature:</p>
	<input type='text' name='max_temperature'/><br/>
	<p>Enter a Mean Temperature:</p>
	<input type='text' name='mean_temperature'/><br/>
	<p>Enter a Minimum Temperature:</p>
	<input type='text' name='min_temperature'/><br/>
	<p>Enter a Mean Humidity:</p>
	<input type='text' name='mean_humidity'/><br/>
	<p>Enter a Mean Visibility:</p>
	<input type='text' name='mean_visibility'/><br/>
	<p>Enter a Mean Wind Speed:</p>
	<input type='text' name='mean_wind_speed'/><br/>
	<p>Enter a Precipitation:</p>
	<input type='text' name='precipitation'/><br/>
	<p>Enter a Zip Code:</p>
	<input type='text' name='zip_code'/><br/>
	<input type='submit' value = "create new condition"/>

</form>
