<nav>
  <a href="/">Dashboard</a>
  <a href="/conditions">All Conditions</a>
</nav>

<form action="/conditions" method="post">
  <h1>Enter Condition Information</h1>
  <p>Date: <input type='date' name='condition[date]'/></p>
  <p>Max Temperature: <input type='float' name='condition[max_temperature_f]'/></p>
  <p>Min Temperature: <input type='float' name='condition[min_temperature_f]'/></p>
  <p>Mean Temperature: <input type='float' name='condition[mean_temperature_f]'/></p>
  <p>Mean Humidity: <input type='float' name='condition[mean_humidity]'/></p>
  <p>Mean Visibility: <input type='float' name='condition[mean_visibility_miles]'/></p>
  <p>Mean Wind Speed: <input type='float' name='condition[mean_wind_speed_mph]'/></p>
  <p>Precipitation: <input type='float' name='condition[precipitation_inches]'/></p>

  <p><input type='submit'/></p>
</form>
