<label>Date:
  <input
    type="date"
    name="condition[date]"
  />
</label>

<br/>
<label>Max Temperature (farenheit):
  <input
    type="float"
    name="condition[max_temperature_f]"
  />
</label>

<br/>
<label>Min Temperature (farenheit):
  <input
    type="float"
    name="condition[min_temperature_f]"
  />
</label>

<br/>
<label>Mean Temperature (farenheit):
  <input
    type="float"
    name="condition[mean_temperature]"
  />
</label>

<br/>
<label>Average Humidity:
  <input
    type="float"
    name="condition[mean_humidity]"
  />
</label>

<br/>
<label>Average Visibility (miles):
  <input
    type="float"
    name="condition[mean_visibility_miles]"
  />
</label>

<br/>
<label>Average Wind Speed:
  <input
    type="float"
    name="condition[mean_wind_speed]"
  />
</label>

<br/>
<label>Precipitation (inches):
  <input
    type="float"
    name="condition[precipitation_inches]"
  />
</label>
