/*
  ========================================
  Main Styling
  ========================================
*/

html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {

  background: url("../assets/images/pexels-photo-165541.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  color: #212121;



.navbar-brand {
    padding: 0px 15px;
}

.navbar-brand img {
    height: 25px;
    width: auto;
    margin: 0;
    padding: 0;
}

.navbar-default {
    background-color: #00BBFF;
    border-color: #00BBFF;
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #f5f5f5;
    padding-top: 15px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #00BBFF;
    color: #1e1e1e;
}


/*
  ========================================
  Homepage
  ========================================
*/


/*h1#home-header {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*margin: 10%;*/
  /*align-items: center;*/
  /*color: whitesmoke;*/
  /*font-size: 5rem;*/
/*}*/

img#home-header {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  display: block;
  margin: 10% auto;
}

/*
  ========================================
  Stations Index
  ========================================
*/

.page-header {
    padding-right: 50px;
    padding-top: 50px;
    background-color: rgba(74, 189, 172, 0.9);
    margin-top: 0;
    margin-bottom: 75px;
}

.top {
    position: relative;
    width: 100%;
    background-color: rgb(89, 0, 111);
    height: 250px;
    opacity: 1;
    text-align: center;
    color: #fff;
}

.title {
    position: absolute;
    top: 40%;
    right: 100px;
}

.page-header h1 {

  font-size: 40px;
  font-weight: 700;
  color: whitesmoke;

}

.all-stations {
    width: 60%;
}

.panel-heading {
    background-color: rgb(89, 0, 111);
    color: #FFCE00;
    text-align: left;
}

.stations-panel {
    font-size: 20px;
}

.all-stations .table th {
    font-size: 15px;
    color: black;
    text-align: center;
}

.all-stations tr,
td a {
    color: #1e1e1e;
}

#station-name-header {
    text-align: left;
    padding-left: 50px;
}

#edit-button {
    text-align: center;
}

.delete-button {
    text-align: center;
}

.station-name {
    transition: all .2s ease-in-out;
    font-size: 18px;
    text-align: left;
    padding-left: 50px;
}

.station-name a {
    text-decoration: none;
}

.station-name:hover {
    color: #fa5e5b;
    -webkit-transform: scaleX(1.1);
    width: 80%;
    text-decoration: none;
}

.all-stations .table tr {
    -webkit-animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*
  ========================================
  Station Show
  ========================================
*/

.station-box {
  margin: 0 auto;
  background-color: rgba(33, 33, 33, 0.9);
  width: 60%;
  padding: 30px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 100px;
  font-size: 20px;
  color: whitesmoke;


}

.station-box p {
    text-align: left;
}

.dashboard-value {
    color: red;
}
#station-name-header .page-header .top {
  font-size: 2rem;
}

/*
  ========================================
  Station Edit
  ========================================
*/

.station-edit {
    width: 80%;
}

.station-edit form {
    text-align: left;
}

.station-edit h2 {
    text-align: left;
}


/*
  ========================================
  Station New
  ========================================
*/

.new-station {
    margin: 0 auto;
    background-color: rgba(33, 33, 33, 0.9);
    width: 40%;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 100px;
    font-size: 1.2rem;
    color: whitesmoke;
}

.btn-primary {
    background-color: #00BBFF;
}

.btn-primary button:hover {
    background-color: #1e1e1e;
}


/*
  ========================================
  Stations Dashboard
  ========================================
*/

.stations-dashboard {
    margin: 0 auto;
    background-color: rgba(33, 33, 33, 0.9);
    width: 60%;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 100px;
    font-size: 20px;
}

.stations-dashboard p,
li,
a {
    text-align: left;
    color: whitesmoke;
}

a button {
    color: #1e1e1e;
}


/*
  ========================================
  Trips Index
  ========================================
*/

#trip-start-date {
    transition: all .2s ease-in-out;
    font-size: 12px;
    text-align: left;
    padding-left: 20px;
}

#trip-start-date a {
    text-decoration: none;
}

#trip-start-date:hover {
    color: #fa5e5b;
    -webkit-transform: scaleX(1.1);
    width: 80%;
    text-decoration: none;
}

.all-trips {
    width: 90%;
    text-align: center;
}

.all-trips .table th {
    font-size: 15px;
    color: black;
    text-align: center;
}

.all-trips .table tr {
    -webkit-animation: fadein 3s;
}


/*
  ========================================
  Trip Edit
  ========================================
*/

.trip-edit {
    width: 60%;
}

.trip-edit form {
    text-align: left;
    width: 100%;
}

.trip-edit h2 {
    text-align: left;
}


/*
  ========================================
  Trip New
  ========================================
*/

.new-trip {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    width: 60%;
    padding: 30px;
    border: 6px solid black;
    border-radius: 10px;
    margin-bottom: 100px;
    font-size: 20px;
}

.form-horizontal .control-label {
    color: whitesmoke;
}

.form-group .form-control {
    max-width: 100%;
    background-color: #1e1e1e;
    color: whitesmoke;
}


/*
  ========================================
  Trips Dashboard
  ========================================
*/

.trips-dashboard {
    width: 80%;
    padding-bottom: 50px;
}


/*
  ========================================
  Weather
  ========================================
*/

input,
button,
select,
textarea {
    color: #555;
}