body {
	background-color: #748CAB;
	margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #1D2D44;
}

.navbar-inverse {
	background-color: #1D2D44;
}

.navbar-brand {
	margin-top: 15px;
}

.navbar-inverse .navbar-brand {
	color: 	#748CAB;
	margin-bottom: 20px;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
	color: 	#0D1321;
}

.navbar-inverse .navbar-nav>li>a {
	color: #3E5C76;
}

.navbar-btn {
	color: #F0EBD8;
	float: left;
}

#text {
	color: #F0EBD8;
}

.text-muted {
	margin-top: 10px;
	color: #F0EBD8;
	float: left;
}

#right {
	float: right;
}

body > div > div > div > img {
  width: 75px;
  height: 75px;
}

body > div:nth-child(3) > a > button {
	margin-top: 30px;
}

a.dropdown-toggle {
	display: inline;
}