.navbar-inverse {
	background-color: #1D2D44;
}

.navbar-inverse .navbar-brand {
	color: 	#748CAB;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
	color: 	#0D1321;
}

.navbar-inverse .navbar-nav>li>a {
	color: #3E5C76;
}

.navbar-btn {
	color: #3E5C76;
	margin-right: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

#text {
	color: #F0EBD8;
}

.navbar-inverse .navbar-brand # {
	color: 	#748CAB;
}

.footer .navbar-fixed-bottom {
	background-color: #1D2D44;
	padding: 5px;
}

body > footer > div > div > p {
    text-shadow: 2px 2px 4px #000000;
    float: left;
}

body > footer > div > div > p:nth-child(2) {
	float: right;
}

.text-muted {
	color: white;
}
body > div > div > div > img {
  width: 75px;
  height: 75px;
}
body > div > div > div > h1 {
	margin-top: -5px;
}
.home .container .row div > img {
	width: 170px;
	height: 170px;
	margin-top: 5%
}

.centered-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	width: 33%;

}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	width: 33%;
	


}


.tryptics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}