<section>
  <h3>Bike Share</h3>
  <ul>
    <li><a href="/stations">All Stations</a></li>
    <li><a href="/stations/new">Add New Station</a></li>
    <li><a href="/trips">All Trips</a></li>
    <li><a href="/trips/new">Add a New Trip</a></li>
  </ul>
</section>