body {
  font-family: Papyrus; /* 😉 */
}

.trip {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  background-color: skyblue;
}

.trip p {
  text-decoration: none;
}

.trip:hover {
  background-color: hotpink;
}
