.body {
  font-family: Papyrus; /* 😉 */
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 49px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 39.2px;
}

.trip {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  background-color: skyblue;
}

.trip p {
  text-decoration: none;
}

.trip:hover {
  background-color: hotpink;
}
