
/*body {
  font-family: 'Avenir Next', sans-serif;
}*/

.header-background {
    background-image: url(http://icelandbike.com/Myndir_banner/_DSC3116_ChristinaBohner_UrsulaSpitzbart_banner2.jpg);
}
.bike-icon {
  height: 40px;
  width: 40px;
}

.heavy-border {
  border: solid;
  border-width: 5px;
  border-color: red;

}

img {
  height: 400px;
  width: 400px;
}
