body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: blue;
  padding: 8px;

}

.nav-link {
  color: white;

}

.puppy {
  text-align: center;
  display: flex;
}

.puppies {
  display: flex;
  justify-content: center;
}
