* {
  font-family: verdana;
}

h3 {
  font-weight: 600;
}


img {
  background: rgba(76, 175, 80, 0.3)
}

ul {
  list-style-type: none;
}

li {
  float: right;
  border-left: 1px solid #bbb;
  font-size: 63%
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

