<div class="container">

  <h1 id="home-header">Bike Share</h1>

  <h2 class="home-link"><a href="/stations-dashboard">Station Information</a></h2>
  <h2 class="home-link"><a href="/trips-dashboard">View Trip History</a></h2>
  <h2 class="home-link"><a href="/conditions-dashboard">Check Weather Conditions</a></h2>

</div>
