<h1>Welcome to Bike Share!!!</h1>
<a class="bike_index" href="/stations">All Bike Stations</a>
<a class="new_station" href="/stations/new">Create a New Station</a>
<a class="station_dashboard" href="/station-dashboard">View Station Dashboard</a>
