<h1>Welcome to Bike Share!</h1>

<div class="row">
  <div class="col-md-8">
    <img src="/assets/home_bike.jpg" alt="bike" width=50%>
  </div>
  <div class="col-md-4">
    <p>
      WHY was this show cancelled? I mean, COME ON. She tried pesto for the first time. Imagine that, 92 years old and she never tried pesto. I am having a love affair with this ice cream sandwich. He… she… what's the difference? Oh hear, hear. In the dark, it all looks the same. Heyyyyyy, Uncle Father Oscar. She keeps saying that God is going to show me a sign. The… something of my ways. Wisdom? I don't want no part of yo' tight-ass country club, ya freak bitch! Did Ted make an appointment? No. Well, then Ted can GET THE HELL OUT OF THIS OFFICE! YOU GET THE HELL OUT!
    </p>
  </div>
</div>
