      <div class="row">
        <div class="col-lg-12 text-center">
          <img src="assets/bicycle.svg"/>
          <h1>Bike Share Home</h1>
        </div>
      </div>
    </div>

    <div class="container" id="button">
        <a href="/trips"><button type="button" class="btn btn-primary btn-block">Trip Dashboard</button></a>
        <a href="/stations"><button type="button" class="btn btn-primary btn-block">Station Index</button></a>
        <a href="/station-dashboard"><button type="button" class="btn btn-primary btn-block">Station Dashboard</button></a>
        <a href="/cities"><button type="button" class="btn btn-primary btn-block">City Index</button></a>
        <a href="/trips"><button type="button" class="btn btn-primary btn-block">Trip Index</button></a>
        <a href="/conditions"><button type="button" class="btn btn-primary btn-block">Condition Index</button></a>
    </div>