<nav>
  <a href="/">Dashboard</a>
  <a href="/stations">All Stations</a>
</nav>

<form action="/stations" method="post">
  <h1>Enter Station Information</h1>
  <p>Name: <input type='text' name='station[name]'/></p>
  <p>Dock Count: <input type='integer' name='station[dock_count]'/></p>
  <p>City: <input type='text' name='station[city]'/></p>
  <p>Installation Date: <input type='date' name='station[installation_date]'/></p>
  <p><input type='submit'/></p>
</form>
