<h1>Station</h1>
<a href="/stations">Station Index</a>

<h2><%= @station.name %></h2>

<p>city:<%= @station.city %></p>
<p>installation date:<%= @station.installation_date %></p>
<p>dock count:<%= @station.dock_count %></p>
