<h1>"Station Details"</h1>

    <p><%= @station.name %></p>
    <p><%= @station.dock_count %></p>
    <p><%= @station.city %></p>
    <p><%= @station.installation_date %></p>

<a href="/stations">Back to Index</a>