<form action="/stations" method="post">
    Name:       <input type="text"  value="Enter Name"  name="station[name]"><br><br>
    Dock Count: <input type="text"  value="Enter Count" name="station[dock_count]"><br><br>
    City:       <input type="text"  value="Enter City"  name="station[city]"><br><br>
    Date:       <input type="text"  value="Enter Date"  name="station[installation_date]"><br><br>
 
    <input type="submit" value="Create Station"/>
</form>