<h1>Add a New Trip</h1>

<form action="/trips" method="post">
  <p>Enter a start station and an end station:</p>
  <input type='text' name='start_station_id'/><br/>
  <input type='text' name='end_station_id'/><br/>
  <p>Enter a start date and end date:</p>
  <input type='text' name='start_date'/><br/>
  <input type='text' name='end_date'/><br/>
  <p>Enter a duration, for your trip:</p>
  <input type='text' name='duration'/><br/>
  <p>Enter a Bike ID:</p>
  <input type='text' name='bike_id'/><br/>
  <p>Enter a subscription type (customer or subscriber):</p>
  <input type='text' name='subscription_type'/><br/>
  <p>Enter a zip code:</p>
  <input type='text' name='zip_code'/><br/>
  <input type='submit'/>
</form>
