<h1>Create a New Trip</h1>
<form action="/trips" method="post">
  <label for="">Duration:</label>
  <input type="textfield" name="trip[duration]"><br>
  <label for="">Start Date:</label>
  <input type="textfield" name="trip[start_date]"><br>
  <label for="">Start Station Name:</label>
  <input type="textfield" name="trip[start_station_name]"><br>
  <label for="">End Date:</label>
  <input type="textfield" name="trip[end_date]"><br>
  <label for="">End Station Name:</label>
  <input type="textfield" name="trip[end_station_name]"><br>
  <label for="">Bike ID:</label>
  <input type="textfield" name="trip[bike_id]"><br>
  <label for="">Subscription Type:</label>
  <input type="textfield" name="trip[subscription_type_id]"><br>
  <label for="">Zip Code:</label>
  <input type="textfield" name="trip[zip_code]"><br>
  <input type="submit" value="Submit"/>
</form>
