<h2>Create a new trip</h2>

<form action="/trips" method="post">

    Name:          <input type="text"  value="Enter Name"          name="trip[name]"><br><br>
    Duration:      <input type="text"  value="Enter Duration"      name="trip[dock_count]"><br><br>
    Station:       <input type="text"  value="Enter Station"       name="trip[city]"><br><br>
    End Date:      <input type="text"  value="Enter Date"          name="trip[installation_date]"><br><br>
    End Station:   <input type="text"  value="Enter End Station"   name="trip[end_station]"><br><br>
    Bike:          <input type="text"  value="Enter Bike"          name="trip[bike]"><br><br>
    Subscription:  <input type="text"  value="Enter Subscription"  name="trip[subscription_type]"><br><br>
    Zip Code:      <input type="text"  value="Enter Zip"           name="trip[zip]"><br><br>

    <input type="submit" value="Create Trip"/>
</form>