<h1>Create a New Weather Condition Value Day thing</h1>

<form action="/weather_conditions" method="post">
  <label for="">Date: </label>
  <input type="date" name="weather_condition[date]" value="3/3/2017">
  <label for="">Max Temp: </label>
  <input type="textfield" name="weather_condition[max_temperature_f]" value="">
  <label for="">Min Temp: </label>
  <input type="textfield" name="weather_condition[min_temperature_f]" value="">
  <label for="">Mean Temp: </label>
  <input type="textfield" name="weather_condition[mean_temperature_f]" value="">
  <label for="">Mean Humidity: </label>
  <input type="textfield" name="weather_condition[mean_humidity]" value="">
  <label for="">Mean Visibility Miles: </label>
  <input type="textfield" name="weather_condition[mean_visibility_miles]" value="">
  <label for="">Mean Wind Speed MPH: </label>
  <input type="textfield" name="weather_condition[mean_wind_speed_mph]" value="">
  <label for="">Precipiation Inches: </label>
  <input type="textfield" name="weather_condition[precipitation_inches]" value="">
  <input type="submit" value="Submit"/>
</form>
