header {
  width: 100%;
  background-color: #006ec9;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}

header.img {
  display: block;
  float: left;
}

nav {
  float: right;
  padding: 2%;
}

a {
  text-decoration: none;
  color: white;
}

a.current_page {
  color:	#84DCC4;
  padding: 4px;
  border: solid 2px #84DCC4;
}

header ul, li {
  list-style: none;
  display: inline;
  padding: 5px;
}

body {
  background-color: #E5E9EA;
  background-image: url("/bike-background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

div.container {
  margin-top: 3%;
  width: 100%;
  height: 30%;
  overflow: hidden;
  /*background-color: #006ec9;
  opacity: .8;
  overflow:auto;*/
}

div.img {
  display: inline;
  max-width: 15%;
}

div.element {
  float: left;
  margin: 0;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 3%;
  width: 27%;
  padding-top: 2%;
  background-color: #006ec9;
  opacity: .8;
  height: 100%;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

table {
  width: 90%;
  background-color: #006ec9;
  opacity: .8;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

th, tr {
  text-align: left;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.25em;
  color: white;
}

th {
  color: #84DCC4;
  padding-top: 5px;
  padding-bottom: 5px;
}

tr {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px%;
}

.show {
  width: 90%;
  background-color: #006ec9;
  opacity: .8;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #006ec9;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.show li {
 font-family: 'Fjalla One', sans-serif;
  font-size: 1.5em;
  color: white; 
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
  color: white;
}

p {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5em;
  color: white;
}
.show-attribute {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1em;
  color: #84DCC4;
}

.nested-list {
  font-family: 'Fjalla One', sans-serif;
  font-size: .5em;
  color: white;
}
.edit-delete {
  float: right;
}

footer {
  position: relative;
  bottom: -40px;
  width: 100%;
  height: 80px;
  background-color:#006ec9;
  opacity: .8;
  z-index: -1;
}