header {
  width: 100%;
  background-color: #006ec9;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}

header.img {
  display: block;
  float: left;
}

nav {
  float: right;
  padding: 2%;
}

a {
  text-decoration: none;
  color: white;
}

ul, li {
  list-style: none;
  display: inline;
  padding: 5px;
}

body {
  background-color: #E5E9EA;
  background-image: url("/bike-background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

div.container {
  margin-top: 3%;
  width: 100%;
  height: 30%;
  overflow: hidden;
  /*background-color: #006ec9;
  opacity: .8;
  overflow:auto;*/
}

div.img {
  display: inline;
  max-width: 15%;
}

div.element {
  float: left;
  margin: 0;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 3%;
  width: 27%;
  padding-top: 2%;
  background-color: #006ec9;
  opacity: .8;
  height: 100%;
  padding-bottom: 100%;
  margin-bottom: -100%;
}