body {
  font-family: "Amazon Ember", Arial,sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url('../images/homepage.jpg') no-repeat;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
header h1{
  margin-bottom: 100px;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 36px;
  padding-bottom: 100px;
}

section{
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  height: 100px;
  width: 150px;
  background: rgba(60,60,60,0.4);
  margin: 10px;
  border-radius: 50%;
}

section:hover{
  background-color: black;
  opacity: 0.9;
  transition-duration: 0.5s;
}

section a{
  margin-top: 40px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}
