body {
  background-color: #D3D4D9;
}

header{
  align-content: center;;
}

h1 {
  color: #2E4057;
}

h2 a {
  color: #2E4057;
}

h3 {
  color: #48628C;
}

h4 {
  margin-top: 1px;
  margin-bottom: 1px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
