body {
  font-family: "Amazon Ember", Arial,sans-serif;
}

header{
  background-color: rgba(0, 126, 128, 0.6);
  width: 100%;
  height: 45px;
}

header nav {
  float: right;
}

header nav li {
  display: inline-block;
  padding: 10px;
}

header a {
  text-decoration: none;
  color: white;
}

header h1 {
  padding: 10px;
  float: left;
  color: white;
  font-size: 26px;
}

header a:hover{
  color:black;
  transition-duration: 0.5s;
}

.container{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  height: 500%;
  width: 100%;
  justify-content: center;
  background: url('../images/beach.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

table{
  color: white;
  background: rgba(60,60,60, 0.3);
  margin: 10px;
}

th {
  font-size: 20px;
  text-align: left;
  padding: 20px;
}

th.value {
  font-size: 16px;
  text-align: center;
}

tr:hover{
  background: rgba(60,60,60, 0.9);
  transition-duration: 0.5s;
}
