// $ sass app/public/scss/index.scss app/public/stylesheets/index.css

@import url("https://fonts.googleapis.com/css?family=Droid+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import "variables";

body {
  font-family: $open-sans;
}

header {
  text-align: center;
}

/*Bike Share Nav*/

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: 100vh;
  min-width: 300px;
  color: $black-pearl;
}

.header:after {
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(27, 32, 48, 1) 100%);
}

.header:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
  background: #1B2030 url(https://images.unsplash.com/photo-1467087073423-7d287513b0cd) top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: grow 60s  linear 10ms infinite;
  transition: all 0.2s ease-in-out;
  z-index: -2;
}

.header a {
  color: $black-pearl;
}

.logo {
  border: 2px solid $black-pearl;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 1.2em;
  box-sizing: border-box;
}

.logo:hover {
  border: 2px solid $strong-opal;
  color: $strong-opal;
  cursor: pointer;
}

.sides, .info {
  flex: 0 0 auto;
  color: $black-pearl;
  width: 50%;
}

.sides {
  align-items:center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: $black-pearl;
  a {
  color: $black-pearl;
  }
  .a-logo {
    border: none;
    font-family: lobster;
    font-size: 2em;
    text-decoration: none;
  }
  .a-logo:hover {
    color: $strong-opal;
    text-decoration: underline;
  }
}

.info {
  width: 100%;
  padding: 15% 10% 0 10%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.bs-logo {
  display: flex;
  justify-content: center;
  text-align: center;

  h1 {
    font-family: $lobster;
    font-size: 6em;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

/* Station Dashboard*/


/* Station Index */

.stations-table {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }

  tr:nth-child(even) {
    background-color: #d3d4d9;
  }
}

/* Station New */

#new_h1 {
  color: white;
  font-size: 150%;
  text-align: center;
}

.new_form {
  text-align: -webkit-center;
}

.new_form input {
  display: flex;
  justify-content: center;
  height: 25px;
  width: 130%;
  border: 3px solid lightblue;
  border-radius: 25px;
}

.new_form input[placeholder] {
  font-weight: bold;
  color: lightblue;
  text-align: center;
}

.new_view {
  display: flex;
  height: 100vh;
  background-image: url("https://c1.staticflickr.com/6/5089/5233128586_16def34bac_b.jpg");
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
}

/* Edit */

.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    input,
    select {
      margin: 10px;
      font-weight: 400;
      text-align: center;
      color: $black-pearl;
      border-radius: 7px;
      background: white;
      width: 420px;
      padding: 5px 0px 5px 0px;
      font-size: 20px;
      border: 1px solid $strong-opal;
      height: 54px;
      appearance: none;
    }

    select {
      text-align-last: center;
    }

    input:hover {
      border: 1px solid $black-pearl;
      color: $strong-opal;
    }

    h1 {
      font-size: 1.8em;
      color: $prussian-blue;
      font-weight: 700;
      margin-bottom: 45px;
    }
  }
}

/* Trip Index */

.trip-index-container {
  font-family: $open-sans;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-color: $black-pearl;
    font-size: 2em;
    margin: 35px 0px 25px 0px;

    span {
      font-weight: 700;
    }
  }

  div {
    position: relative;
    z-index: 1;
    backface-visibility: hidden;
  }

  div a {
    font-size: 1.5em;
    margin-bottom: 5px;
    outline: none;
    color: #404d5b;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
  }

  input {
    @include cool-inputs;
  }

  input:hover {
    border: 2px solid $black-pearl;
  }

  .previous_page {
    @include cool-links;
  }

  div a::before,
  div a::after {
    pointer-events: none;
    backface-visibility: hidden;
  }

  a {
    padding: 12px 10px 10px;
    color: #566473;
    text-shadow: none;
    font-weight: 700;
  }

  a::before,
  a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: $strong-opal;
    content: '';
    transition: transform 0.3s;
    transform: scale(0.85);
  }

  a::after {
    opacity: 0;
    transition: top 0.3s, opacity 0.3s, transform 0.3s;
  }

  a:hover::before,
  a:hover::after,
  a:focus::before,
  a:focus::after {
    transform: scale(1);
  }

  a:hover::after,
  a:focus::after {
    top: 0%;
    opacity: 1;
  }
}

.trip-card {
  color: $black-pearl;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px solid $strong-opal;
  margin: 10px;
  padding: 10px;
  width: 500px;

  li {
    padding: 10px;
  }

  span {
    font-weight: 700;
  }
}