$badass                : #bada55;
$ultra-chic-periwinkle : #ccccff;
$black-pearl           : #011627
$panache               : #FDFFFC
$strong-opal           : #2EC4B6
$alizarin              : #E71D36
$dark-tangerine        : #FF9F1C

$oswald: 'Oswald', sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;