$badass                : #bada55;
$ultra-chic-periwinkle : #ccccff;
$black-pearl           : #011627;
$panache               : #FDFFFC;
$strong-opal           : #2EC4B6;
$alizarin              : #E71D36;
$dark-tangerine        : #FF9F1C;
$prussian-blue         : #004264;
$lochmara              : #386FA4;
$picton-blue           : #59A5D8;
$light-sky-blue        : #84D2F6;
$blizzard-blue         : #91E5F6;


$open-sans : 'Open Sans', sans-serif;
$arvo      : 'Arvo', serif;
$light     : 300;
$regular   : 400;
$semi-bold : 600;
$bold      : 700;