<div class="row index-row">
  <div class="col-xs-4 col-md-4">
    <a href="/stations" class="thumbnail">
      <img class="pad-root-img" src="http://frpic.com/vectors/bicycle-vector/bicycle-vector.png" />
    </a>
    <h2 class="center-text">Stations</h2>
    <p>Our bike stations are changing the way you and others are defining their daily commute. With dozens of stations to choose from, you can enjoy a ride for any reason you require or desire. <br>Our bikes have the highest quality components from the tires up to the seat. Your convenience and comfort are always at the hear of our operations. Check out our many stations and find one near you.</p>
  </div>
  <div class="col-xs-4 col-md-4">
    <a href="/trips" class="thumbnail">
      <img class="root-index-img" src="https://www.dvorakexpeditions.com/wp-content/uploads/2014/06/MTB_icon_1.png" />
    </a>
    <h2 class="center-text">Trips</h2>
    <p>What's more riveting than viewing data about bicycle trips taken by other people doing mundane daily or business related tasks near you? With stimulating statistics on thousands of historical trips, dating back to the year 2014, you can enjoy countless hours of trip by trip analysis that's sure to br fun for the whole family. Plus, you might just find a new route to explore on your own.</p>
  </div>
  <div class="col-xs-4 col-md-4">
    <a href="/conditions" class="thumbnail">
      <img class="root-index-img" src="https://lh3.ggpht.com/LibLLxaDoRtxhLKc9n7LiBlMe__lp8eDphcLhi_rim67lGgEnwZs5RhfVE9_br7Jpg=w300-rw" />
    </a>
    <h2 class="center-text">Weather</h2>
    <p>Whether you care about the weather or not, we do! That's why we make sure to keep accurate records of weather conditions that effect our stations, bikes and our customers. Visiting this site from a location outside the San Fran area? Consider this data as the next best thing to experiencing the California sunshine first hand.</p>
  </div>
</div>
