<div class="row index-row">
  <div class="col-xs-4 col-md-4">
    <a href="/stations" class="thumbnail">
      <img class="root-index-img" src="http://frpic.com/vectors/bicycle-vector/bicycle-vector.png" />
    </a>
    <h3 class="center-text">Stations</h3>
    <p>Talk about stations! This is where we put the texts! So many texts it'll wreck yo' neck! Just a little text and then we click next, to the next of effects that declare more text! Holla!!!</p>
  </div>
  <div class="col-xs-4 col-md-4">
    <a href="/trips" class="thumbnail">
      <img class="root-index-img" src="https://www.dvorakexpeditions.com/wp-content/uploads/2014/06/MTB_icon_1.png" />
    </a>
    <h3 class="center-text">Trips</h3>
    <p>Talk about Trips! This is where we put the texts! So many texts it'll wreck yo' neck! Just a little text and then we click next, to the next of effects that declare more text! Holla!!!</p>
  </div>
  <div class="col-xs-4 col-md-4">
    <a href="/conditions" class="thumbnail">
      <img class="root-index-img" src="https://lh3.ggpht.com/LibLLxaDoRtxhLKc9n7LiBlMe__lp8eDphcLhi_rim67lGgEnwZs5RhfVE9_br7Jpg=w300-rw" />
    </a>
    <h3 class="center-text">Weather</h3>
    <p>Talk about Weather! This is where we put the texts! So many texts it'll wreck yo' neck! Just a little text and then we click next, to the next of effects that declare more text! Holla!!!</p>
  </div>
</div>
