<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>City Index</h1>
            <br>
            <% @cities.each do |city| %>
                <ul class="list-group">
                    <li class="list-group-item"><b><a href="cities/<%= city.id %>"><%= city.name %></a></b></li>
                </ul>
            <% end %>
        </div>
    </div>
</div>
