<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">\

    <title>City Index</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/overwrite.css" rel="stylesheet">

</head>

<body class="city-index">


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">BikeShare</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <button class="btn btn-danger navbar-btn"><a href="/station-dashboard">Station Dashboard</a></button>
                    </li>
                    <li>
                        <button class="btn btn-danger navbar-btn"><a href="/stations">Station Index</a></button>
                    </li>
                    <li>
                        <button class="btn btn-danger navbar-btn"><a href="/stations/new">Create a Station</a></button>
                    </li>
                    <li>
                        <button class="btn btn-danger navbar-btn"><a href="/cities">Cities Index</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12 text-center">
          <img src="/assets/bicycle.svg"/>
          <h2>City Index</h2>
        </div>
      </div>
      <% @cities.each do |city| %>
        <h3><a href="cities/<%= city.id %>"><%= city.name %></a></h3>
        <span>City: <%= city.name %></span><br />
        <span>Number of stations: <%= city.stations.count %></span>
        <br />
      <% end %>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

<footer class="footer">

    <div class="footer navbar-fixed-bottom">
        <div class="container">
            <p class="text-muted">Built with Ruby, Sinatra, ActiveRecord, Bootstrap</p>
            <p class="text-muted">BikeShareSF 2017</p>
        </div>
    </div>

</footer>

</html>