<h1>Add new weather information</h1>
<form action ="/weathers" method="post">
  <p>Date</p>
  <input type="text" name="weather[date]"><br/>
  <p>max temperature</p>
  <input type="text" name="weather[max_temperature]"><br/>
  <p>min temperature</p>
  <input type="text" name="weather[min_temperature]"><br/>
  <p>mean temperature</p>
  <input type="text" name="weather[mean_temperature]"><br/>
  <p>mean humidity</p>
  <input type="text" name="weather[mean_humidity]"><br/>
  <p>mean visibility in miles</p>
  <input type="text" name="weather[mean_visibility]"><br/>
  <p>mean wind speeds in mph</p>
  <input type="text" name="weather[mean_wind_speed"><br/>
  <p>precipitation in inches</p>
  <input type="text" name="weather[precipitation]"><br/>
  <input type="submit" name="submit">
