<link href='/main.css' rel='stylesheet' type="text/css"/>
<header class='top_bar'>
  <h2>
    Bike Share App
  </h2>
</header>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/stations">Station Index</a>
</div>

<span class='menu-color' onclick="openNav()">&#9776; Menu</span>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "200px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
</script>

<div id='main'>
  <img src="/silhouette.jpg"/>
</div>