<h1> Bikeshare Dashboard </h1>

<div>
  <br><a href="/stations"/> Station Index </a><br>
  <br><a href="/trips"> Trips Index </a><br>
  <br><a href="falselink"> Link Weather Conditions Index <a/><br>
</div>
