<h1>Welcome to BikeShare!</h1>

<ul>
  <li><a href="/stations">All Stations</a></li>
  <li><a href="/stations/new">Add Station</a></li>
  <li><a href="/trips">All Trips</a></li>
  <li><a href="/trips/new">Add Trip</a></li>
  <li><a href="/conditions">All Conditions</a></li>
  <li><a href="/conditions/new">Add Condition</a></li>
</ul>
