<h1>What would you like to see?</h1>
<a href="/stations">Stations</a><br>
<a href="/trips">Trips</a>
<h4>Thank goodness we have</h4>
<img src="http://sinatra.com/sites/default/files/field/image/sinatrahome.jpg" alt="The man himself.... SINATRA!!!!" height="500px" >
