<h1> Welcome! </h1>

<li><a href="/stations">Station Index</a></li>
<li><a href="/stations-dashboard">Station Analytics</a></li>
<li><a href="/trips">Trip Index</a></li>
<li><a href="/trips-dashboard">Trip Analytics</a></li>
