<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bike Share</title>
  </head>
  <body>
    <h1> Bike Share</h1>

    <a href="/stations/index">Station Index</a>
  </body>
</html>
