<div class="jumbotron">
  <h1>Welcome to the Dashboard!</h1>
</div>

    <a href="/stations/new" class="btn btn-primary btn active" role="button" aria-pressed="true">New Station</a>
    <a href="/stations" class="btn btn-primary btn active" role="button" aria-pressed="true">All Stations</a>
    <a href="/station-dashboard" class="btn btn-primary btn active" role="button" aria-pressed="true">Stations Dashboard</a>
  </br>
  </br>
    <a href="/trips/new" class="btn btn-primary btn active" role="button" aria-pressed="true">New Trip</a>
    <a href="/trips" class="btn btn-primary btn active" role="button" aria-pressed="true">All Trips</a>
    <a href="/trip-dashboard" class="btn btn-primary btn active" role="button" aria-pressed="true">Trips Dashboard</a>
  </br>
  </br>
    <a href="/condition/new" class="btn btn-primary btn active" role="button" aria-pressed="true">New Condition Report</a>
    <a href="/conditions" class="btn btn-primary btn active" role="button" aria-pressed="true">All Condition Reports</a>
    <a href="/condition-dashboard" class="btn btn-primary btn active" role="button" aria-pressed="true">Condition Dashboard</a>
