<h1>Bike Share App</h1>
<h2 class="title">Welcome</h2>

<ul>
  <li><a href="/stations">View Stations</a>
  <a href="/trips">View Trips</a></li>

  <img src="http://www.bayareabikeshare.com/assets/images/bayarea/pages/mobile-app/bike-app.png"/>
</ul>
