<html>
<div class="nav navbar-default">
  <div class="navbar-item navbar-left">
    <img class="brand-logo brand-logo-main" alt="Brand" src="bs.png">
  </div>
  <h1 class="navbar-item center">
    Bike Station Navigation Dash
  </h1>
</div>
<div class="row">
  <div class="container dashboard-bar">
    <h4>WELCOME TO BIKE STATION</h4>
  </div>
</div>
<div class="row dash">
  <div class="col-md-4">
    <a href="/station-dashboard">stations</a>
  </div>
  <div class="col-md-4">
    <a href="/trips">trips</a>
  </div>
  <div class="col-md-4">
    <a href="/weather">weather</a>
  </div>
</div>
