<html>
<nav class="nav navbar-default navbar-grow">
  <div class="container navbar-beam">
  </div>
  <div class="containter-fluid">
    <div class="navbar-header navbar-nav">
      <img class="brand-logo brand-logo-main" alt="Brand" src="bs.png">
      <h1 class="navbar-item navbar-nav">
        Bike Station Navigation Dash
      </h1>
    </div>
  </div>
</nav>
<div class="row">
  <div class="container dashboard-bar">
    <h4>WELCOME TO BIKE STATION</h4>
  </div>
</div>
<div class="row dash">
  <div class="col-md-4">
    <a href="/station-dashboard">stations</a>
  </div>
  <div class="col-md-4">
    <a href="/trips">trips</a>
  </div>
  <div class="col-md-4">
    <a href="/weather">weather</a>
  </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container dashboard-bottom">
    <img src="purplesunset.jpg"/>
  </div>
</div>
