<div class="jumbotron">
  <h1>Welcome to the Dashboard!</h1>
</div>
<ul>
  <li>
    <a href="/stations/new" class="btn btn-primary btn active" role="button" aria-pressed="true">New Station</a>
    <a href="/stations" class="btn btn-primary btn active" role="button" aria-pressed="true">All Stations</a>
  </li>
    <a href="/trips/new" class="btn btn-primary btn active" role="button" aria-pressed="true">New Trip</a>
    <a href="/trips" class="btn btn-primary btn active" role="button" aria-pressed="true">All Trips</a>
  <li>
    <a href="/weather/new" class="btn btn-primary btn active" role="button" aria-pressed="true">New Weather Report</a>
    <a href="/weather" class="btn btn-primary btn active" role="button" aria-pressed="true">All Weather Reports</a>
  </li>
</ul>
