<div class="jumbotron">
  <h1>Welcome to the Dashboard!</h1>
</div>
<a href="/stations/new" class="btn btn-primary btn active" role="button" aria-pressed="true">New Station</a>
<a href="/stations" class="btn btn-primary btn active" role="button" aria-pressed="true">See All Stations</a>
