<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bike Share</title>
  </head>
  <body>
    <h1> Bike Share</h1>
    <section class= "home-columns">
      <a href="/stations/index">Station Index</a><br>
      <a href="/stations/dashboard">Station Dashboard</a><br>
    </section>
    <section>
      <a href="/trips">Trips Index</a><br>
      <a href="/trips/dashboard">Trips Dashboard</a><br>
    </section>
    <section>
      <a href="/conditions">Conditions Index</a><br>
      <a href="/conditions/dashboard">Trips Dashboard</a><br>
    </section>
  </body>
</html>
