<!DOCTYPE html>
<html>
<title>BayCycles - Bike Share for Everybody</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body>

  <header class="w3-display-container w3-content w3-center" style="max-width:2000px" >
    <img class="w3-image" src="https://images.unsplash.com/photo-1500455497814-0b8db1d32380?auto=format&fit=crop&w=2684&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="bicycles" width="1500" height="1000">

    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">BayCycles</h1>
      <h5 class="w3-hide-xlarge" style="white-space:nowrap">San Francisco</h5>
      <h3 class="w3-hide-medium w3-hide-small">Bike Share for Everybody </h3>
    </div>

    <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-medium" style="bottom:-16px">
      <a href="/stations" class="w3-bar-item w3-button">Stations</a>
      <a href="/trips" class="w3-bar-item w3-button">Trips</a>
      <a href="#contact" class="w3-bar-item w3-button">Weather</a>
    </div>
  </header>

  <div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
    <div class="w3-bar w3-light-grey">
      <a href="#" class="w3-bar-item w3-button">Home</a>
      <a href="#portfolio" class="w3-bar-item w3-button">Portfolio</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
  <br>
  <br>
  <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-orange w3-xlarge w3-padding-32">Basic</li>
          <li class="w3-padding-16">
            <h2>$ 5</h2>
            <span class="w3-opacity">per month</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-pink w3-padding-large w3-hover-grey">Sign Up</button>
          </li>
        </ul>
      </div>

      <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-orange w3-xlarge w3-padding-32">Explorer</li>
          <li class="w3-padding-16">
            <h2>$ 10</h2>
            <span class="w3-opacity">per month</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-pink w3-padding-large w3-hover-grey">Sign Up</button>
          </li>
        </ul>
      </div>

      <div class="w3-third">
        <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-orange w3-xlarge w3-padding-32">Adventurer</li>
          <li class="w3-padding-16">
            <h2>$ 15</h2>
            <span class="w3-opacity">per month</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-pink w3-padding-large w3-hover-grey">Sign Up</button>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="w3-content w3-ul w3-padding-large w3-margin-top w3-center" id="portfolio" >
    <li><img src="https://images.unsplash.com/photo-1487557231561-e697e7b52a66?auto=format&fit=crop&w=1950&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="Bike rack" class="w3-image w3-margin-top w3-hover-shadow" width="500" height="200"></li>
    <li><img src="https://images.unsplash.com/photo-1503609796759-4cfd4d5a0b9f?auto=format&fit=crop&w=1951&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="Railcars" class="w3-image w3-margin-top w3-hover-shadow" width="500" height="200"></li>
    <li><img src="https://images.unsplash.com/photo-1506190566487-2ea15fae2846?auto=format&fit=crop&w=1568&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="Beach pier" class="w3-image w3-margin-top w3-hover-shadow" width="500" height="200"></li>
    <li><img src="https://images.unsplash.com/photo-1465158061415-2deb87b7484b?auto=format&fit=crop&w=500&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="Tower" class="w3-image w3-margin-top w3-hover-shadow" width="500" height="200"></li>



    <div class="w3-light-grey w3-padding-large w3-padding-32 w3-margin-top w3-opacity w3-hover-opacity-off" id="contact">
      <h3 class="w3-center">Subscribe to Newsletter</h3>
      <hr>
      <div style="text-align:center">
          <p>Discounts, Cycling Events, Featured Trips.</p>
      </div>​
      <form action="/action_page.php" target="_blank">
        <div class="w3-section">
          <label>Name</label>
          <input class="w3-input w3-border" type="text" required name="Name">
        </div>
        <div class="w3-section">
          <label>Email</label>
          <input class="w3-input w3-border" type="text" required name="Email">
        </div>

        <button type="submit" class="w3-button w3-block w3-pink">Send</button>
      </form>
      <br>
    </div>
  </div>

</body>
</html>

