<nav class="navbar navbar-inverse navbar-sticky-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="text" href="/">BikeShare</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <button class="btn btn-primary navbar-btn">Stations</button>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="/station-dashboard">Dashboard</a></li>
                        <li><a href="/stations">Index</a></li>
                        <li><a href="/stations/new">Create</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle dropdown-menu-left" data-toggle="dropdown" href="#">
                        <button class="btn btn-primary navbar-btn">Trips</button>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/trips-dashboard">Dashboard</a></li>
                        <li><a href="/trips">Index</a></li>
                        <li><a href="/trips/new">Create</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <button class="btn btn-primary navbar-btn">Conditions</button>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/condition-dashboard">Dashboard</a></li>
                        <li><a href="/conditions">Index</a></li>
                        <li><a href="/conditions/new">Create</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <button class="btn btn-primary navbar-btn">Cities</button>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cities">Index</a></li>
                        <li><a href="/cities/new">Create</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>