<nav class="navbar navbar-inverse navbar-sticky-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="text" href="/">BikeShare</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a id="text" href="/stations"><button class="btn btn-primary navbar-btn">Station Index</button></a>
                </li>
                <li>
                    <a id="text" href="/trips"><button class="btn btn-primary navbar-btn">Trip Index</button></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
