<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/homepage.css">
</head>

<div class="container">
<body>
  <header>
    <nav>
      <h1> Welcome to Bike Share </h1>
    </nav>
  </header>

  <section>
    <a href="/stations">Stations</a>
  </section>
  <section>
    <a href="/trips">Trips</a>
  </section>
  <section>
    <a href="/conditions">Conditions</a>
  </section>


</div>
</body>
