<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/homepage.css">
</head>

<body>
  <div class="container">
  <header>
    <h1> Welcome to Bike Share </h1>
  </header>
  <section>
    <a href="/stations">Stations</a>
  </section>
  <section>
    <a href="/trips">Trips</a>
  </section>
  <section>
    <a href="/conditions">Conditions</a>
  </section>
</div>
</body>
