<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">\

    <title>BikeShare - SF Bay Area</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/overwrite.css" rel="stylesheet">

</head>

<body class="home">


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">BikeShare</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <button class="btn btn-danger navbar-btn"><a href="/station-dashboard">Station Dashboard</a></button>
                    </li>
                    <li>
                        <button class="btn btn-danger navbar-btn"><a href="/stations">Trip Dashboard</a></button>
                    </li>
                    <li>
                        <button class="btn btn-danger navbar-btn"><a href="/stations/new">Weather Dashboard</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <img src="assets/bicycle.svg"/>
          <h2>Bike Share - SF Bay Area</h2>
        </div>
      </div>
    </div>

    <div class="centered-container">
      <div class="row">
        <div class="categories">
          <div class="text-center">
            <i class='glyphicon glyphicon-pencil'></i><br>
            <button type = 'button' class='btn btn-default'><a href="/stations/new">Create New Station</a></button>
          </div>
          <br />

          <div class="text-center">
            <i class='glyphicon glyphicon-list'></i><br>
            <button type = 'button' class='btn btn-default'><a href="/stations">View All Stations</a></button>
          </div>
          <br />

          <div class="text-center">
            <i class='glyphicon glyphicon-eye-open'></i><br>
            <button type = 'button' class='btn btn-default'><a href="/station-dashboard">View Station Dashboard</a></button>
          </div>
        </div>
        <br />


        <div class="categories">
          <div class="text-center">
            <i class='glyphicon glyphicon-pencil'></i><br>
            <button type = 'button' class='btn btn-default'><a href="/trips/new">Create New Trip</a></button>
          </div>
          <br />

          <div class="text-center">
            <i class='glyphicon glyphicon-list'></i><br>
            <button type = 'button' class='btn btn-default'><a href="/trips">View All Trips</a></button>
          </div>
          <br />


          <div class="text-center">
            <i class='glyphicon glyphicon-eye-open'></i><br>
            <button type = 'button' class='btn btn-default'><a href="/trip-dashboard">View Trip Dashboard</a></button>
          </div>
        </div>
        <br />


        <div class="categories">
          <div class="text-center">
            <i class='glyphicon glyphicon-pencil'></i><br>
            <button type = 'button' class='btn btn-default'><a href="/conditions/new">Create New Weather Report</a></button>
          </div>
          <br />

          <div class="text-center">
            <i class='glyphicon glyphicon-list'></i><br>
            <button type = 'button' class='btn btn-default'><a href="/conditions">View All Weather</a></button>
          </div>
          <br />


          <div class="text-center">
            <i class='glyphicon glyphicon-eye-open'></i><br>
            <button type = 'button' class='btn btn-default'><a href="/condition-dashboard">View Weather Dashboard</a></button>
          </div>
        </div>

      </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

<footer class="footer">

    <div class="footer navbar-fixed-bottom">
        <div class="container">
            <p class="text-muted">Built with Ruby, Sinatra, ActiveRecord, Bootstrap</p>
            <p class="text-muted">BikeShareSF 2017</p>
        </div>
    </div>

</footer>

</html>
