<h1>Welcome to Bike Share</h1>

<h3>Feel free to browse around:</h3>
<a href="/stations"><p>View all stations</p>
<a href="/stations/new"><p>
  Create a new station
</p></a>

<h1>Bike Share App</h1>
<h2 class="title">Welcome</h2>

<ul>
  <li><a href="/stations">View Stations</a>
  <a href="/trips">View Trips</a></li>

  <img src="http://www.bayareabikeshare.com/assets/images/bayarea/pages/mobile-app/bike-app.png"/>
</ul>
