<h1>Welcome to Bike Share</h1>

<ul>
  <li><a href="/stations">View Stations</a>
  <a href="/trips">View Trips</a>
  <a href="/conditions">View Weather Conditions</a></li>

  <img src="https://www.velogear.com.au/media/catalog/category/bike_rental.jpg" />
</ul>
