<div class="row main-index-splash-divs no-top-margin">
  <div class="col-md-8">
    <h2>ENJOY THE RIDE</h2>
    <p>Maybe you live eight blocks from work. Maybe your Mom lives just on the other side of the river. Maybe you have three coffee meetings and they are all within two miles of eachother. Maybe the concert tonight is only a few miles away and you don't want to pay to park the car.</p>
    <p>Whatever the situation, we strive to provide you with a quality bicycle service. Well maintained high quality equipment that has low environmental impact is our promise to you. With dozens of bike stations around the bay area, there's probably a station close by ready to offer you a great ride.</p>
    <p>Thanks for visiting! We can't wait to see you on your next ride!</p>
  </div>
  <div class="col-md-4">
    <div class="main-index-splash-pic">
      <img src="http://i.imgur.com/aRhmSZE.png" alt="Bicycle Icon" class="main-index-splash-pic">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <a href="/stations"><img src="http://i.imgur.com/sQGfeLx.jpg" alt="Bicycle Icon" class="index-icons element-center-hor"></a>
    <h3 class="center-index-text">Bike Stations</h3>
  </div>
  <div class="col-md-4">
    <a href="/trips"><img src="http://icons.iconarchive.com/icons/icons8/ios7/512/Maps-Treasury-Map-icon.png" alt="Bicycle Icon" class="index-icons element-center-hor"></a>
    <h3 class="center-index-text">Bike Trips</h3>
  </div>
  <div class="col-md-4">
    <a href="/conditions"><img src="http://icon-park.com/imagefiles/simple_weather_icons2_sunny.png" alt="Bicycle Icon" class="index-icons element-center-hor"></a>
    <h3 class="center-index-text">Weather</h3>
  </div>
</div>
