<h1 class="index-temp-center" >THIS IS THE MAIN SPLASH PAGE</h1>

<h1 class="index-temp-center">CONTENT COMING</h1><br>

<a href="/stations" ><h5 class="index-links-temp">-.....GO TO STATIONS.....-</h5></a><br>
<a href="/trips" ><h5 class="index-links-temp">   -.........GO TO TRIPS........-</h5></a><br>
