<div class="row main-index-splash-divs">
  <div class="col-md-8">
    <h2>San-Francisco Bay Area Bike Share Program</h2>
    <p>Content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here becasue the content is here </p>
  </div>
  <div class="col-md-4">
    <div class="main-index-splash-pic">
      <img src="http://i.imgur.com/aRhmSZE.png" alt="Bicycle Icon" class="main-index-splash-pic">
    </div>
  </div>

</div>





<div class="row">
  <div class="col-md-4">
    <img src="http://i.imgur.com/sQGfeLx.jpg" alt="Bicycle Icon" class="index-icons element-center-hor">
    <h3 class="center-index-text">Bike Stations</h3>
  </div>
  <div class="col-md-4">
    <img src="http://icons.iconarchive.com/icons/icons8/ios7/512/Maps-Treasury-Map-icon.png" alt="Bicycle Icon" class="index-icons element-center-hor">
    <h3 class="center-index-text">Bike Trips</h3>
  </div>
  <div class="col-md-4">
    <img src="http://icon-park.com/imagefiles/simple_weather_icons2_sunny.png" alt="Bicycle Icon" class="index-icons element-center-hor">
    <h3 class="center-index-text">Weather</h3>
  </div>
</div>
