<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bike-Share</title>
    <link rel='stylesheet' href='style.css'/>
    <nav>
    <ul id='container'>
      <li>
        <a class="active" href='/'>Home</a>
      </li>
      <li>
        <a href='/stations'>Stations</a>
      </li>
      <li>
        <a href='/conditions'>Weather Conditions</a>
      </li>
      <li>
        <a href='/trips'>Trips</a>
      </li>
      <li style="float:right">
        <h1>San Francisco Bike Share</h1>
      </li>
    </ul>
  </nav>
  </head>
  <body>
    <br/>
    <br/>
    <br/>
    <h1 class='title'>San Francisco Bike Share</h1>
    <br/>
    <hr>
    <table>
      <tr>
        <td>
          <p>The San Francisco Bike Share is the region’s bike sharing system with 700 bikes and 70 stations across the region, with locations in San Francisco and San Jose. Intended to provide San Francisco residents and visitors with an additional transportation option for getting around the region, the San Francisco Bike Share is fun, easy, and affordable.</p>
        </td>
      </tr>
    </table>
  </body>
 </html>
