<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bike-Share</title>
  </head>
  <body>
    <h1>Bike Share</h1>
    <hr>
    <P> Come one, come all, take a ride or ride to work. Whereever
      and whatever your biking needs, we got your back.</p>
  <div>
    <a href="/stations" id="station_button">
      See Available Stations
    </a>
  </div>
  <div>
    <a href="/conditions" id="condition_button">
      <img src="assets/road.jpeg" alt="See Weather Conditons"
    </a>
  </div>
  <div>
    <a href="/trips" id="trip_button">
      <img src="assets/road.jpeg" alt="See All Trips Taken">
    </a>
  </div>


  </body>
 </html>
