<div class="container-fluid">
  <!-- <button type="button" class="btn btn-primary btn-lg">Updates</button> -->
  <img src="/vendor/bootstrap/images/bikes-3.jpg" class="img-responsive" alt="Responsive image">
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <h2><a href="/stations">Stations</a></h2>
      <p>The Bay Area Bike Share is the region’s bike sharing system with 700 bikes and 70 stations across the region, with locations in San Francisco and San Jose. With hundreds of bikes at stations, the system is available for use 24 hours a day, 365 days a year. The station network provides twice as many docking points as bicycles, assuring that an available dock to return your bike is always nearby.</p>
    </div>
    <div class="col-md-4">
      <h2><a href="/trips">Trips</a></h2>
      <p>Riding a bicycle in the Bay Area has never been better. Whether you’re an experienced rider or new to city cycling, a few simple steps will make you feel more comfortable and confident riding in urban and suburban environments. Here you'll find great information on people just like you who have ridden around the Bay and where the hottest loations are.</p>
    </div>
    <div class="col-md-4">
      <h2><a href="/conditions">Weather</a></h2>
      <p>Everyone knows the weather in the Bay can be speratic and unpredictable. Well, the BikeJamz bike share program has colleced a great amount of data on the best time to ride your bike to help get you where you need to go!</p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div id="fh5co-footer ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <pclass= class="fixed-bottom">&copy; 2017 Mimi Le, Scooter, Sammy Stylez, Big Sexy. All Rights Reserved. <br>Dataset Provided By:<a href="https://www.kaggle.com/benhamner/sf-bay-area-bike-share"> Kaggle</a> Demo Images: <a href="http://unsplash.com" target="_blank">Unsplash</a></p>
      </div>
    </div>
  </div>
</div>
