<!DOCTYPE html>
<html>
<head>
<style>


body  {
    background-image: url("https://www.velogear.com.au/media/catalog/category/bike_rental.jpg");
    background-repeat:no-repeat;
    background-position: center;
    text-align: center;
}



</style>
</head>
<body>

<h1>Welcome</h1>

<div class="header">
  <button><a href="/stations">Stations</a></button>
  <button><a href="/trips">Trips</a></button>
  <button><a href="/conditions">Weather Conditions</a></li></button>


</div>

</body>
</html>
