<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bike-Share</title>
    <link rel='stylesheet' href='style.css'/>
    nav>
    <ul id='container'>
      <li>
        <a class="active" href='index.html'>Home</a>
      </li>
      <li>
        <a href='about.html'>Stations</a>
      </li>
      <li>
        <a href='blog.html'>Weather Conditions</a>
      </li>
      <li>
        <a href='contact.html'>Trips</a>
      </li>
      <li style="float:right">
        <h1>San Francisco Bike Share</h1>
      </li>
    </ul>
  </nav>
  </head>
  <body>
    <hr>
    <div>
      <p>Your key to hundreds of biks throughout the bay.</p>
    </div>
    <img src="moar_bikes.jpg" alt="Backgroud"/>
  </body>
 </html>
