<% @title = "Bike Share" %>
<div class="header">
  <div class="sides">
    <a href="/stations"   class="logo">STATIONS</a>
    <a href="/trips"      class="logo">TRIPS</a>
    <a href="/conditions" class="logo">CONDITIONS</a>
  </div>
  <div class="info">
    <div class='bs-logo'>
      <h1>Bike <img src="../images/favicon.ico">Share</h1>
    </div>
  </div>
</div>