<!DOCTYPE html>
<html>
<head>
<style>


body  {
    background-image: url("https://www.velogear.com.au/media/catalog/category/bike_rental.jpg");
    background-repeat:no-repeat;
    background-position: center;
    text-align: center;
}



</style>
</head>
<body>

<h1>Welcome</h1>

<div class="headerr">
  <a href="/stations">Stations</a>
  <a href="/trips">Trips</a>
  <a href="/conditions">Weather Conditions</a></li>
</div>

</body>
</html>
