<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
      <header>
        <h3>The Bike Share App</h3>
      </header>

      <%= yield %>
    </body>

    <footer>
      <h3>made with love: Stephanie, Seth, Jonathan, Josh</h3>
    </footer>
  </html>
