<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/application.css">
    <title>Bike Share</title>
  </head>
  <body>
    <nav>
      <a href="/stations"><h1>Stations</h1></a>
      <a href="/trips"><h1>Trips</h1></a>
      <a href="/conditions"><h1>Weather Conditions</h1></a>
    </nav>
    <%= yield %>
  </body>
</html>
