<!DOCTYPE html>
<html>
  <head>
    <link href=“https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister” rel=“stylesheet”>
    <link rel="stylesheet" href="/application.css">
    <link rel=“shortcut icon” type=“image/x-icon” href=“https://image.flaticon.com/icons/svg/406/406144.svg” />
    <title>Bike Share</title>
  </head>
  <body>
    <header>
      <h1 class="logo"><a href="/">BIKE SHARE</a></h1>
      <nav>
        <h1><a href="/stations">Stations</a></h1>
        <h1><a href="/trips">Trips</a></h1>
        <h1><a href="/conditions">Conditions</a></h1>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
