<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Bike Share Management Application</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>

<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="/">Bike Share Administrative Panel</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown">
            STATIONS <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="/stations_dashboard">Dashboard</a></li>
            <li><a href="/stations">All Stations</a></li>
            <li><a href="/stations/new">Add a Station</a></li>
          </ul>
        </li>

				<li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown">
            TRIPS <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="/trips_dashboard">Dashboard</a></li>
            <li><a href="/trips">All Trips</a></li>
            <li><a href="/trips/new">Add a Trip</a></li>
          </ul>
        </li>

				<li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown">
            WEATHER <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="/conditions_dashboard">Dashboard</a></li>
            <li><a href="/conditions">All Conditions Index</a></li>
            <li><a href="/conditions/new">Add a Weather Report</a></li>
          </ul>
        </li>

				<li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown">
            ACCOUNT <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
						<li><a href="#">My Profile</a></li>
						<li><a href="#">Logout</a></li>
          </ul>
        </li>


      </ul>
    </div>
  </div>
</div>

<div class="container">
	<%= yield %>
  <hr>
</div>

    <div class="col-sm-16">
      <footer class="text-center">This web application was developed by Team Sauce. <a href="#"><strong>Hire us!</strong></a></footer>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
    </div>

  </body>
</html>
