<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <link rel="stylesheet" 
      type="text/css" 
      media="(max-width: 680px)" 
      href="/mapplication.css">
    
    <link rel="stylesheet" 
        type="text/css" 
        media="(min-width: 681px)" 
        href="/application.css">
    

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    <title>Bike Share</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>