<!DOCTYPE html>
<html>
  <head>
    <title>San Francisco Bike Share Dashboard</title>
    <meta charset="utf-8">
    <link rel=”stylesheet” type=”text/css” href=”/stylesheets/custom.css” />
  </head>
  <body>
    <header>
      <h1>Bike Share</h1>
      <nav>

      </nav>
    </header>
    <%= yield %>
  </body>
</html>
