<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bike Share</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand -->
        <div class="navbar-header">
          <span class="navbar-brand">Bike Share</span>
        </div>
        <!-- Menu Items -->
        <div>
          <ul class="nav navbar-nav navbar-right">

            <li><a href="/">Home</a></li>

            <!-- Bike Station Dropdown -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle stations" data-toggle="dropdown">Bike Stations <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/stations">All Stations</a></li>
                <li><a href="/stations/new">Create a New Station</a></li>
                <li><a href="/station-dashboard">Station Dashboard</a></li>
              </ul>
            </li>

            <!-- Bike Trip Dropdown -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle trips" data-toggle="dropdown">Trips <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/trips">All Trips</a></li>
                <li><a href="/trips/new">Create a New Trip</a></li>
                <li><a href="/trip-dashboard">Trip Dashboard</a></li>
              </ul>
            </li>

            <!-- Weather Condition Dropdown -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle conditions" data-toggle="dropdown">Weather Conditions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/conditions">All Conditions</a></li>
                <li><a href="/conditions/new">Create a New Condition</a></li>
                <li><a href="/condition-dashboard">Condition Dashboard</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
