<!DOCTYPE html>
<html>
  <head>
    <title>San Francisco Bike Share</title>
    <meta charset="utf-8">
    <link rel=”stylesheet” type=”text/css” href=”/stylesheets/custom.css” />
  </head>
  <body>
    <header>
      <h1>Bike Share</h1>
      <nav>
        <a href='/stations'>Stations</a>
        <a href='/trips'>Trips</a>
        <a href='/conditions'>Weather</a>
      </nav>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
