<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bike Share</title>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>
  <nav>
    <a class ="nav-title">Bike Share</a>
     <a class="nav-link" href="/">Home</a>
     <a class="nav-link" href="stations">Stations</a>
     <a class="nav-link" href="station-dashboard">Station Dashboard</a>
     <a class="nav-link" href="weather_conditions">Weather</a>
     <a class="nav-link" href="weather-dashboard">Weather Dashboard</a>
     <a class="nav-link" href="trips">Trip</a>
    <a class="nav-link" href="trips-dashboard">Trip Dashboard</a>
  </nav>
  <%= yield %>
</body>

 <div id="footer"> Made with love and Sinatra by Mark, Sam, Beth and Chris </div>

</html>
