<!DOCTYPE html>
<html>
  <head>
    <title>San Francisco Bike Share</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/custom.css" title="text/css" />
    <link rel="stylesheet" href="stylesheets/homepage.css" title="text/css" />
  </head>
  <body>
    <header>
        <a href="/"><h1>.Bike/share</h1></a>
      <nav>
        <a href="/station-dashboard">Stations</a>
        <a href="/trips-dashboard">Trips</a>
        <a href="/weather-dashboard">Weather</a>
      </nav>
    </header>
    <%= yield %>
    <footer>
        <p style= "text-align: center">Josie McClellan | Lauren Billington | Young Jung | Iza Jimenez</p>
    </footer>
  </body>
</html>
