<!DOCTYPE html>
<html>
<head>
  <title>Bike Share</title>
  <link rel="stylesheet"    href="/stylesheets/reset.css">
  <link rel="stylesheet"    href="/stylesheets/custom.css">
  <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico"/>

</head>
<body>
  <%= yield %>
</body>
</html>
