<!DOCTYPE html>
<html>
  <head>
    <title>San Francisco Bike Share</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/custom.css" title="text/css" />
  </head>
  <body>
    <header>
        <h1>.Bike/share
      <a href="/" style="display:block;height:100%;width:100%"></a></h1>
      <nav>
        <p><a href='/stations'>Stations</a></p>
        <p><a href='/trips'>Trips</a></p>
        <p><a href='/conditions'>Weather</a></p>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
        <p style= "text-align: justify">Alia utinam maiorum pro te, eum ex sonet putent discere. Mea cu possit forensibus comprehensam. Mel te primis commodo, nibh labore nostrum ei mel. Ex vix adolescens suscipiantur, malorum iuvaret usu id. At mea lobortis pertinacia, scripta sententiae et mei, sumo partem pro ex. Nam movet facete ex, eos rebum nulla qualisque ea, vis malis clita efficiantur ut. At vel lorem paulo soluta, ancillae quaestio no quo, id vim blandit voluptatum.</p>
    </footer>
  </body>
</html>
