<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bike Share</title>
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-teal.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Bike Share</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/stations/new">New Stations</a>
        <a class="mdl-navigation__link" href="/stations">Stations</a>
        <a class="mdl-navigation__link" href="/trips">Trips</a>
        <a class="mdl-navigation__link" href="/trips/new"> New Trips</a>
        <a class="mdl-navigation__link" href='/station-dashboard'>Station Dashboard</a>
        <a class="mdl-navigation__link" href='/trips-dashboard'>Trip Dashboard</a>
        <a class="mdl-navigation__link" href='/weather-dashboard'>Weather Dashboard</a>

        <a class="mdl-navigation__link" href="/">Home</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Bike Share Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/stations/new">New Stations</a>
      <a class="mdl-navigation__link" href="/stations">Stations</a>
      <a class="mdl-navigation__link" href="/trips">Trips</a>
      <a class="mdl-navigation__link" href="/trips/new">New Trips</a>
      <a class="mdl-navigation__link" href="/conditions">Weather</a>
      <a class="mdl-navigation__link" href="/conditions/new">New Weather Info</a>
    </nav>
  </div>
  <!-- above closes drawer div -->
  <!-- below, main content starts -->
  <main class="mdl-layout__content">
    <div class="page-content">
    	
    </div>
  <div class="container">
    <%= yield %>
  </div>
  </main>
  <!-- ends main content of page -->

<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Bike Share</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="#">Help</a></li>
      <li><a href="/stations">Stations</a></li>
      <li><a href="/trips">Trips</a></li>
      <li><a href="/conditions">Weather</a></li>      
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</footer>
</div>
</div>
</body>
</html>