<!DOCTYPE html>
<html>
  <head>
    <title>San Francisco Bike Share</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/custom.css" title="text/css" />
  </head>
  <body>
    <header>
        <a href="/"><h1>.Bike/share</h1></a>
      <nav>
        <p><a href='/stations'>Stations</a></p>
        <p><a href='/trips'>Trips</a></p>
        <p><a href='/conditions'>Weather</a></p>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
        <p style= "text-align: center">Josie McClellan | Lauren Billington | Young Jung | Iza Jimenez</p>
    </footer>
  </body>
</html>
