<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/application.css">
    <title>Bike Share</title>
  </head>
  <body>
    <h1>Welcome to Bike-Share</h1>
    <%= yield %>
  </body>
</html>
