<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/application.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Bike Share</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>