<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/application.css"> -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <title>Bike Share</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Bike Share</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stations
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/stations">View All Stations</a>
              </li>
              <li>
                <a href="/stations/new">New Station</a>
              </li>
            <li>
              <a href="/station-dashboard">Stations Dashboard</a>
            </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trips
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/trips">View All Trips</a>
              </li>
              <li>
                <a href="/trips/new">New Trip</a>
              </li>
              <li>
                <a href="/trip-dashboard">Trip Dashboard</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Conditions
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/conditions">View All Conditions Reports</a>
              </li>
              <li>
                <a href="/conditions/new">New Conditions Report</a>
              </li>
              <li>
                <a href="/weather-dashboard">Weather Dashboard</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <% if @errors %>
    <div class="alert alert-danger text-center">
      <strong>Error!</strong><br><hr>
      <% @errors.messages.each do |k, v| %>
        <%= "#{k}: #{v.join}<br>" %>
      <% end %>
    </div>
  <% end %>
  <div class="container-fluid text-center">
    <%= yield %>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

</body>
</html>
