<h1>New</h1>
<form action="/stations" method="post">
  <p>Name</p>
  <input type="text" name="station[name]">
  <p>Dock count</p>
  <input type="text" name="station[dock_count]">
  <p>Installation date</p>
  <input type="text" name="station[installation_date]"><br/>
  <input type="submit">
</form>
