<form action="/stations" method="post">
  <input type="text" name="station[name]" placeholder="name"/><br>
  <input type="integer" name="station[dock_count]" placeholder="dock count"/><br>
  <input type="text" name="station[city]" placeholder="city"/><br>
  <input type="date" name="station[installation_date]" placeholder="installation date"/>
  <input type="submit" value="submit"/>
</form>
