<form action="/stations" method="post">
  <input type="text" name="station[name]" placeholder="name"/>
  <br>
  <input type="number" name="station[lat]" placeholder="latitude" step="0.0001"/>
  <br>
  <input type="number" name="station[lng]" placeholder="longitude" step="0.0001"/>
  <br>
  <input type="integer" name="station[dock_count]" placeholder="dock count"/>
  <br>
  <select name="station[city_id]">
    <% @cities.sort_by(&:name).each do |city| %>
      <option value="<%= city.id %>">
        <%= city.name.upcase %>
      </option>
    <% end %>
  </select>
  <input type="date" name="station[installation_date]" placeholder="installation date"/>
  <input type="submit" value="submit" />
</form>
