<form action="/trip/<%= @trip['id'] %>" method="post">
  <fieldset>
      <legend>Create A New Trip</legend>
      <input type="hidden" name="_method" value="PUT" />
        Duration:<br>
        <input type='text' name='trip[duration]'><br/>
        Start Date:<br>
        <input type='text' name='trip[start_date]'><br/>
        End Date:<br>
        <select>
          <% @stations.each do |station| %>
          <option value="station.id"><%= station.name %></option>
        <% end %>
        <input type='text' name='trip[end_date]'><br/>
        End Station<br>
        <input type='text' name='trip[genre_id]'><br/>
        Director ID<br/>
        <input type='text' name='trip[director_id]'><br/>
        <input type="submit" value="Submit">
    </fieldset>
</form>
