<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <a href="/stations">Stations Index</a>

    <h3><%= @station.name %></h3>
    <p><%= @station.dock_count %></p>
    <p><%= @station.city.name %></p>
    <p><%= @station.installation_date %></p>
  </body>
</html>
