

<% @stations.each do |station| %>

  <div class="">
  Name: <%= station.name %>
  Dock Count: <%= station.dock_count %>
  City: <%= station.city_id %>
  Installation Date: <%= station.installation_date %>
  </div>
<% end %>
