<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 href="/station_dashboard">Stations</h1>
    <h3>Total Stations: <%= @total_stations %></h3>
  </body>
</html>
