<h1>All Trips</h1>
<ul>
<% @trips.each do |trip|%>
  <li>This trip took <%=trip.duration%> minutes
	and
began at <%= trip.start_station_name%>
			and ended at <%=trip.end_station_name %> </li>
  <% end %>
</ul>
<%= will_paginate(@trips)%>
