<ul>
  <li>Average Number of Rides on Days with High Temps: <%= @conditions.all_conditions_in_temp_range(60,65) %></li>
  <li>Highest Number of Rides on Days with High Temps:</li>
  <li>Lowest Number of Rides on Days with High Temps:</li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>

</ul>
