<ul>
	<%	Condition.all_days_in_temp_range.each do |increment_block| %>
		<li>Average Number of Rides: <%=increment_block[0] %></li> 
	<li>Highest Number of Rides <%=increment_block[1].trips.count%></li>
	<li>Lowest Number of Rides <%=increment_block[2].trips.count %></li>
  <li></li>
	<% end %>
</ul>
