<main id="edit-page">
  <h2>Edit <%= @model.name %></h2>
  <form action="<%= update(@id) %>" method="post">
    <input type="hidden" name="_method" value="PUT" />
    <%= yield %>
    <input type="submit" name="submit"/>
    <button type="submit" form="delete" name="delete" value="Delete"> delete </button>
  </form>
  <form id="delete" action = "<%= destroy(@id) %>" method="post">
    <input type="hidden" name="_method" value="DELETE" />

  </form>
</main>
