<main id="index page">
  <h2><%= @model.name %> List</h2>
  <% @records.each do |record| ; @record = record %>
    <div class="summary">
      <%= yield %>
      <form action=<%= destroy(record.id) %> method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="delete" value='Delete'>
      </form>
    </div>
  <% end %>
  <%= will_paginate @records %>
</main>
