<main id="show page">
  <%= yield %>
  <a href="<%=update_form(@record.id)%>">
    <button name="edit"/>Edit</button>
  </a>
  <form action="<%= destroy(@record.id) %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type='submit' name="delete" value="Delete">
  </form>
</main>
